
<div class="block-section box-side-account">
    <h3 class="no-margin-top">My Alerts</h3>
    <hr/>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Job Title</th>
                <th>Location</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Php Developer</td>
                <td>United States</td>
                <td class="text-right"><a href="#" class="btn btn-theme btn-xs btn-default">Remove</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Web Design</td>
                <td>United States</td>
                <td class="text-right"><a href="#" class="btn btn-theme btn-xs btn-default">Remove</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>SEO Analytics</td>
                <td>United States</td>
                <td class="text-right"><a href="#" class="btn btn-theme btn-xs btn-default">Remove</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Project Manager</td>
                <td>United States</td>
                <td class="text-right"><a href="#" class="btn btn-theme btn-xs btn-default">Remove</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Ruby on Rails</td>
                <td>United States</td>
                <td class="text-right"><a href="#" class="btn btn-theme btn-xs btn-default">Remove</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>