<div class="block-section text-center ">
    {#<img src="./assets/theme/images/people/4.jpg" class="img-rounded" alt="">#}

    {% set user = settings.user %}
    <div class="white-space-20"></div>
    <h4>Bienvenue {{ user.firstName }} {{ user.lastName }}</h4>
    <ul class="list-unstyled">
        <li>{{ user.email }}</li>
    </ul>
    <div class="white-space-20"></div>
    <ul class="list-unstyled">
        <li><a href="{{ path('user.client.dashboard') }}"> Overview - Check Spelling </a></li>
        <li><a href="{{ path('fos_user_change_password') }}"> Changez votre mot de passe </a></li>
    </ul>
    <div class="white-space-20"></div>
</div>
