{% set enterprises = settings.enterprises %}

{% for ent in enterprises %}

    {# Enterprise #}

    <div class="item">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs">
                <div class="img-item">
                    {#<img src="{{ asset('bundles/app//theme/images/company-logo/1.jpg') }}" alt="">#}
                </div>
            </div>
            <div class="col-md-11">
                <h3 class="no-margin-top">
                    <a href="{{ path('bj_enterprise_offer_details',{'id': ent.id }) }}" class="">
                        {{ ent.name }} <i class="fa fa-link color-white-mute font-1x"></i>
                    </a>
                </h3>
                <h5>
                    <span class="color-white-mute">
                        {{ ent.address.postal }}, {{ ent.address.country }}
                    </span>
                </h5>
                <p class="text-truncate ">{{ ent.description }}</p>
                <div>
                    <a href="{{ path('bj_enterprise_offer_details',{'id': ent.id }) }}"
                       class="btn btn-theme btn-xs btn-default">view offer list</a>
                </div>
            </div>
        </div>
    </div>

    {# End Enterprise #}
{% endfor %}


