<!-- Block -->
<div class="panel panel-default panel-block">
    <div class="panel-header">
        <span class="panel-header-large f-r-bb">Rechercher une offre d'emploi</span>

    </div>
    <div class="panel-body font-m">

        <form class="form-search-home" id="bj-tag-form" method="post" action="{{ path('bj_offer_listing.filter') }}">

            <div class="form-group col-md-3">
                <div class="form-group">
                    {% for chez in settings.option.chez %}
                        <div class="checkbox">
                            <label>
                                <input type="radio" value="{{ chez.type }}" name="chez" required="required"
                                        {% if chez.type|trim|lower == settings.selected.chez|trim|lower %}
                                            checked="checked"
                                        {% endif %}
                                        >
                                {% if chez.type|trim|upper == 'AGENCE' %}
                                    <span class="f-h-l">En {{ chez.type|lower }}</span>
                                {% else %}
                                    <span class="f-h-l">Chez l'{{ chez.type|lower }}</span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group col-md-3 col-sm-6">
                <label class="table-header f-r-b"></label>
                <select class="form-control input-lg" name="contract" required="required">
                    {% for contract in settings.option.contracts %}
                        <option
                                {% if contract.type|trim == settings.selected.contract|trim %}
                                    selected="selected"
                                {% endif %}
                                value="{{ contract.type|trim }}">{{ contract.type|trim|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
                <label class="table-header f-r-b"></label>
                <select class="form-control input-lg" name="post" required="required">
                    {% for post in settings.option.posts %}
                        <option
                                {% if post.post|trim == settings.selected.post|trim %}
                                    selected="selected"
                                {% endif %}
                                value="{{ post.post|trim }}">{{ post.post|trim|upper }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-group col-md-3">
                <label for=""></label>
                <input id="btn-form-search" type="submit" class="form-control btn btn-t-primary btn-theme btn-pill btn-block btn-form-search f-r-b"
                       value="Chercher"/>
            </div>
            <input type="hidden" name="iteration" value="0"/>
        </form>


    </div>
</div>
<!-- End Block -->
