<!-- box item details -->
<div class="block-section box-item-details text-justify" style="line-height: 21px;">
    <div class="row">
        <div class="col-md-11">
            {#<a href="#"><img src="{{ asset('bundles/app/theme/images/patner/4.png') }}" alt=""></a>#}
            <h1 class="f-r-b text-left" style="font-weight: bold;">{{ offer.title }} </h1>

            {#<h3 class="f-r-b" style="color:#00ccff">{{ offer.enterprise.name }}</h3>#}
            <span class="f-r-b"
                  style="font-size:14px">Annonce publiée le {{ offer.createdAt|date('d.m.Y')|date_format }}.</span>

            <ul class="offer-social-button">
                <li style="position: absolute;bottom: 2px;left: 0px;">
                    <div class="fb-like" data-href="https://www.facebook.com/unjobdanslapub"
                         data-layout="button_count"
                         data-action="like"
                         data-show-faces="false"
                         data-share="false">
                    </div>
                </li>
                <li style="position: absolute;bottom: -6px;left: 107px;">
                    <div style="">
                        <div class="g-plusone" data-annotation="bubble" data-size="standard"
                             data-href="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"></div>
                    </div>
                </li>
                <li style="position: absolute;bottom: -3px;left: 189px;">
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?url={{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                       data-text="#Emploi #Publicité via @UnJobdanslaPub"
                       data-counturl="{{ url('bj_front_homepage') }}"></a>
                </li>

                <li style="position: absolute;bottom: -3px;;left: 270px;width: 115px">
                    <script type="IN/Share"
                            data-url="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                            data-counter="right"></script>
                </li>

                <li style="position: absolute;bottom: -1px;;left: 364px;width: 115px">
                    <a href="mailto:?subject=« {{ offer.title }} - Un Job dans la Pub »&body={{ offer.title }} : {{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}">
                        <img src="{{ asset('bundles/app/theme/images/mail.png') }}" style="width:44px;"/></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="white-space-20"></div>
    <p>{{ offer.description|striptags }}</p>

    <div class="white-space-20"></div>
    <h3 class="f-r-b" style="font-weight: bold;">Missions</h3>

    <p>{{ offer.mission|striptags }}</p>

    <div class="white-space-20"></div>
    <h3 class="f-r-b" style="font-weight: bold;">Profil</h3>

    <p>{{ offer.profile|striptags }}</p>

    <hr>
    <ul class="list-1">
        <li>
            <strong>
                Début :
            </strong>
            {% if offer.asap == 1 %}
                <span>Dès que possible.</span>
            {% else %}
                <span>{{ offer.dateStart|date('d.m.Y')|date_format }}.</span>
            {% endif %}
        </li>
        <li>
            <strong>
                Durée :
            </strong>
            {{ offer.duration }}.
        </li>
        <li>
            <strong>
                Contrat :
            </strong>
            Offres d'emploi en {{ offer.type }}.
        </li>
        <li>
            <strong>
                Rémunération :
            </strong>
            {{ offer.salary }} euros.
        </li>
        <li>
            <strong>
                Adresse :
            </strong>
            {{ offer.address.street ~ ', ' ~ offer.address.postal ~ ' ' ~ offer.address.city }}.
        </li>

        {% if offer.privacy != 1 %}
            <li>
                <strong>
                    Postuler - Contact mail :
                </strong>
                {{ offer.email.email }}
            </li>
        {% endif %}
    </ul>

    <div class="white-space-20"></div>
    <div class="row">

        {#<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" style="margin-bottom:15px;">#}
        {#<p><a href="#modal-apply" data-toggle="modal"#}
        {#class="col-md-12 col-xs-12 btn btn-theme btn-t-primary btn-block-xs">Apply For This Job</a></p>#}
        {#</div>#}

        <div class="col-md-12 col-xs-8 f-r-b" style="margin-bottom:15px;padding:0 4px;">
            <p><a href="#modal-apply" data-toggle="modal"
                  class="col-md-12 col-xs-12 btn btn-theme btn-header" style="font-size: 16px">Postuler à cette
                    offre</a></p>

            <p class="text-center f-r-bn" style="font-size: 13px;">
                L'objet de votre mail doit être : <strong>« {{ offer.title }} - Un Job dans la Pub »</strong>
            </p>
        </div>

        <div class="list-2">
            <a class="col-md-4 col-xs-8 " href="{{ path('bj_offer_listing.contract',{'contract': offer.type }) }}">
                <button class="btn btn-theme btn-default f-r-b"
                        style="display:inline-block;">
                {% if offer.type|trim|upper == 'CDD' or offer.type|trim|upper == 'CDI' %}
                    Voir d'autres {{ offer.type|upper }}
                {% else %}
                    Voir d'autres {{ offer.type|lower }}
                {% endif %}
                </button>
            </a>

            <a class="col-md-4 col-xs-8 "
               href="{{ path('bj_enterprise_offer_details',{'id': offer.enterprise.id,'name':offer.enterprise.name|replace_whitespce  }) }}">
                <button class="btn btn-theme btn-default f-r-b"
                        style="display:inline-block;">
                    {% if offer.enterprise.type|trim|upper == 'AGENCE' %}
                        Voir d'autres offres de cette {{ offer.enterprise.type }}
                    {% else %}
                        Voir d'autres offres de cet {{ offer.enterprise.type }}
                    {% endif %}
                </button>
            </a>

            <a class="col-md-4 col-xs-8 " href="{{ path('bj_front_homepage') }}">
                <button class="btn btn-theme btn-default f-r-b"
                        style="display:inline-block;">Faire une autre recherche
                </button>
            </a>
        </div>
    </div>

    <div class="row" style="position: relative;">
        <div class="container-fluid" style="margin-top: 10px;">
            <ul class="offer-social-button" style="display: inline-block;">
                <li style="position: absolute;bottom: 2px;left: 0px;">
                    <div class="fb-like" data-href="https://www.facebook.com/unjobdanslapub"
                         data-layout="button_count"
                         data-action="like"
                         data-show-faces="false"
                         data-share="false">
                    </div>
                </li>
                <li style="position: absolute;bottom: -6px;left: 107px;">
                    <div style="">
                        <div class="g-plusone" data-annotation="bubble" data-size="standard"
                             data-href="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"></div>
                    </div>
                </li>
                <li style="position: absolute;bottom: -3px;;left: 189px;">
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?url={{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                       data-counturl="{{ url('bj_front_homepage') }}"></a>
                </li>

                <li style="position: absolute;bottom: -3px;left: 270px;width: 115px;">
                    <script type="IN/Share"
                            data-url="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                            data-counter="right"></script>
                </li>

                <li style="position: absolute;bottom: -1px;;left: 364px;width: 115px">
                    <a href="mailto:?subject=« {{ offer.title }} - Un Job dans la Pub »&body={{ offer.title }} : {{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}">
                        <img src="{{ asset('bundles/app/theme/images/mail.png') }}" style="width:44px;"/></a>
                </li>

            </ul>
        </div>
    </div>

</div><!-- end box item details -->
