<!-- box listing -->
<div class="">

    {% if settings.filter is defined and settings.filter == true%}
        <div class="white-space-10"></div>
        {% include 'BJFrontBundle:Platform/Components:filters.html.twig' %}
    {% endif %}

    <!-- item list -->
    <div class="box-list">
        <ul id="pagger-list" style="margin:0;padding:0;list-style:none">
            <li>
                {% set offers = settings.offers %}
                {% include 'BJFrontBundle:Platform/Components:offer_container.html.twig' %}
            </li>
        </ul>

    </div>
    <!-- END item list -->

    <!-- pagination -->
    <nav>
        <ul class="pager">
            <li class="previous" style="cursor:pointer;">
                {% if settings.paginate-1 > -1 %}
                    <a href="{{ settings.path.previous }}">
                        <span aria-hidden="true">&larr;</span>
                        <span>Précédant</span>
                    </a>
                {% endif %}
            </li>
            <li class="next" style="cursor:pointer;">
                {% if settings.param.iterationPlus > 0 %}
                    <a href="{{ settings.path.next }}">
                        <span>Suivant</span>
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <!-- pagination -->

    {#{% if settings.newsletter is defined %}#}
        {#{% include 'BJFrontBundle:Platform/Form:form_get_alert.html.twig' %}#}
    {#{% endif %}#}


</div><!-- end box listing -->

<script>

    var configuration = {
        tag:[],
        location:[]
    };

    {% for tag in settings.param.tags %}
        configuration.tag.push('{{ tag }}');
    {% endfor %}


</script>

