<!-- box affix right -->
<div class="block-section " id="affix-box">
    <div class="text-right">
        {#<p><a href="#" class="btn btn-theme btn-t-primary btn-block-xs">Login to Save This Job</a></p>#}
        <p><a href="#modal-apply"  data-toggle="modal" class="btn btn-theme btn-t-primary btn-block-xs">Apply For This Job</a></p>
        <p><a href="#map-toogle" id="btn-map-toogle" data-toggle="collapse" class="btn btn-theme btn-t-primary btn-block-xs">View on Map !</a></p>
        <p><a href="{{ path('bj_enterprise_offer_details',{'id': offer.enterprise.id }) }}" class="btn btn-theme btn-line dark btn-block-xs">View all jobs for Enterprise</a></p>
        {#<p>Share This Job <span class="space-inline-10"></span> :</p>#}
        {#<p class="share-btns">#}
            {#<a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>#}
            {#<a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>#}
            {#<a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>#}
            {#<a href="#" class="btn btn-warning"><i class="fa fa-envelope"></i></a>#}
        {#</p>#}
    </div>
</div><!-- box affix right -->