<!-- block map -->
<div id="map-toogle">
    <div class=" bg-color2" id="map-area">
        <div class="container">
            <div class="marker-description">
                <div class="inner">
                    <h4 class="no-margin-top" style="font-weight: bold;">Emplacement du bureau</h4>
                    {{ offer.address.street}},
                    {{ offer.address.city}},
                    {{ offer.address.country}},
                    {{ offer.address.postal}}
                </div>
            </div>
        </div>
        <div class="map-area-detail">
            <!-- change data  lat abd lng here -->
            {% if offer.position.latitude is defined %}
                <div class="box-map-detail" style="height: 400px;" id="map-detail-job" data-lat="{{ offer.position.latitude }}" data-lng="{{ offer.position.longitude }}"></div>
            {% else %}
                <div class="box-map-detail" style="height: 400px;" id="map-detail-job" data-lat="null" data-lng="null" data-add="{{ offer.address.street ~ ', ' ~ offer.address.city ~ ', ' ~ offer.address.postal }}"></div>
            {% endif %}
        </div>
    </div>
</div><!-- end block map -->
