<!-- Block -->
<div class="panel panel-default panel-block panel-no-border">
    <div class="panel-body" style="position:relative;">
        {% if settings.newsletter is defined %}
            <h4 class="f-r-l">Résultat de votre recherche</h4>
            <span class="f-r-b" style="margin-left:40px;">Vous cherchez : </span>
            <span class="f-r-b" style="color:#00ccff;font-size:18px;">{{ settings.newsletter.title|upper }}</span>
            <span class="f-r-b" style="position:absolute;top:10px;right:15px;">
                {% if settings.count > 1 %}
                    {{ settings.count }} offres trouvées
                {% else %}
                    {{ settings.count }} offre trouvée
                {% endif %}
            </span>
            <div class="white-space-20"></div>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th class="table-header col-md-1 col-xs-1 f-r-b">PUBLICATION</th>
                <th class="table-header col-md-2 col-xs-2 f-r-b">ENTREPRISE</th>
                <th class="table-header col-md-5 col-xs-4 f-r-b">POSTE</th>
                <th class="table-header col-md-2 col-xs-3 f-r-b">VILLE</th>
                <th class="table-header col-md-2 col-xs-2 f-r-b">ANNONCE</th>
            </tr>
            </thead>
            <tbody>

            {% for offer in offers %}
                <tr>
                    <td>{{ offer.createdAt|date('d.m.y') }}</td>
                    <td class="td-heavy hover-text-blue">
                        <a href="{{ path('bj_enterprise_offer_details',{'id': offer.enterprise.id,'name':offer.enterprise.name|replace_whitespce }) }}">
                            {{ offer.enterprise.name }}
                        </a>
                    </td>
                    <td>
                        {{ offer.title }}
                    </td>
                    <td>{{ offer.address.city }} ({{ offer.address.postal|shorten(2) }})</td>
                    <td><a class="hover-text-blue td-heavy"
                           href="{{ path('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                           > VOIR L'ANNONCE</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- End Block -->



