{% extends '::layout_error.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
            <p>
                We appologise for the inconvenience, we will look into this matter right away
            </p>
        </div>
    </div>

{% endblock %}