{# SUPER USER #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('user.admin.super.dashboard') }}"> Super Admin Profile - CS </a></li>
        {#<li><a href="{{ path('admin_bj_corporate_offer_list') }}" target="_blank"> Detailed Listing </a></li>#}
    {% endif %}
{# END SUPER USER #}

{# ENTERPRISE  #}
    {% if is_granted('ROLE_ENTERPRISE') %}
        {#<li><a href="{{ path('user.enterprise.dashboard') }}"> Control Panel Enterprise - CS </a></li>#}

    {% endif %}
{# END ENTERPRISE  #}

{# CLIENT #}
    {% if is_granted('ROLE_CLIENT') %}
        {#<li><a href="{{ path('user.client.dashboard') }}"> Control Panel Client - CS </a></li>#}

    {% endif %}
{# END CLIENT #}