{% include 'BJFrontBundle:Header:social_links.html.twig' %}


<!-- main navbar -->
<nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
    <div class="container main-header-navbar">
        <div class="collapse navbar-collapse" id="">

            <ul class="nav navbar-nav" id="navbar-logo">
                <li class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand text-center" href="{{ path('bj_front_homepage') }}">
                            <img id="img-logo" src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-logo.png') }}" width="130"/>
                        </a>
                    </div>
                </li>
                <li class="container-fluid">
                    <div class="navbar-header" id="text-logo">
                        <a class="navbar-brand text-center" style="line-height:65%">
                            <span style="color:black;font-size:14px;line-height: 16px;" class="f-h-b">
                                 Le 1er site web d’offres d’emploi en <br> agence de publicité et chez l’annonceur.
                            </span>
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="navbar-search">
                <li class="link-btn btn-publier"><a href="{{ path('bj_post_quick_offer') }}">
                        <span class="btn btn-theme btn-pill btn-header f-r-b" style="font-size: 18px;">Publier une offre</span></a></li>
                <li style="position: absolute;bottom: -14px;left: 10px;">
                        <div class="fb-like" data-href="https://www.facebook.com/unjobdanslapub"
                             data-layout="button_count"
                             data-action="like"
                             data-show-faces="false"
                             data-share="false">
                        </div>
                </li>
                <li style="position: absolute;bottom: -15px;left: 105px;">
                    <div style="display: inline-block;position: relative;top: 10px;">
                        <div class="g-plusone" data-annotation="bubble" data-size="standard" data-href="{{ url('bj_front_homepage') }}"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- end main navbar -->

<!-- main navbar -->
<nav class="navbar navbar-default main-navbar hidden-sm hidden-xs" style="z-index:50;height: 140px;">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav text-center" id="navbar-main">
                <li class="header-button-hover f-r-b">
                    <a href="{{ path('bj_front_homepage') }}"><strong>HOME</strong></a>
                </li>
                <li class="header-button-hover f-r-b">
                    <a href="{{ path('bj_enterprise_listing',{'type':'Agence'}) }}"><strong>AGENCES</strong></a>
                </li>
                <li class="header-button-hover f-r-b">
                    <a href="{{ path('bj_enterprise_listing',{'type':'Annonceur'}) }}"><strong>ANNONCEURS</strong></a>
                </li>
                <li class="header-button-hover f-r-b">
                    <a target="_blank" href="http://www.llllitl.fr/categorie/emploi/"><strong>INFOS EMPLOI</strong></a>
                </li>
                <li class="header-button-hover f-r-b">
                    <a href="{{ path('bj_offer_contact_us') }}"><strong>CONTACT</strong></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="btn-search-navbar">
                    <i id="btn-search-navbar-trigger" class="fa fa-search cursor"></i>
                </li>
            </ul>
            <div class="navbar-search-dropdown is-visible" id="navbar-search-container">
                <input type="text" class="" id="navbar-search-input" placeholder="">
                <button class="input-group-addon f-r-b" id="navbar-search-btn">Recherche</button>
            </div>
        </div>
    </div>
</nav><!-- end main navbar -->

<!-- mobile navbar -->
<div class="container">
    <nav class="mobile-nav hidden-md hidden-lg">
        <a href="#" class="btn-nav-toogle first">
            <span class="bars"></span>
            Menu
        </a>

        <div class="mobile-nav-block">
            <h4>Navigation</h4>
            <a href="#" class="btn-nav-toogle">
                <span class="barsclose"></span>
                Close
            </a>

            <ul class="nav navbar-nav">

                {#<li class=""><a href=""><strong>Find a Job</strong></a></li>#}
                {#<li class=""><a href=""><strong>Find Resumes</strong></a></li>#}
                {#<li  class=""><a href=""><strong>Post a Job</strong></a></li>#}

            </ul>
        </div>
    </nav>
</div><!-- mobile navbar -->


