<div class="container header-links">
    <div class="links">
        <a href="https://www.facebook.com/unjobdanslapub" target="_blank">
            <i class="fa fa-facebook text-blue link"></i>
        </a>
        <a href="https://twitter.com/unjobdanslapub" target="_blank">
            <i class="fa fa-twitter text-blue link"></i>
        </a>
        <a href="https://www.linkedin.com/grp/home?gid=7419020" target="_blank">
            <i class="fa fa-linkedin text-blue link"></i>
        </a>
    </div>
</div>