{% trans_default_domain 'FOSUserBundle' %}

<!-- modal forgot password -->
<div class="modal fade" id="myModal" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Forgot Password</h4>
                </div>
                <div class="modal-body">
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}

                    <div class="form-group">
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required"
                               class="form-control " placeholder="Username or Email"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success btn-theme"/>
                </div>
            </form>
        </div>
    </div>
</div><!-- end modal forgot password -->