{% extends 'BJUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            <a href="#">
                <img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">
            </a></div>
    </div>

{% endblock %}


{% block body  %}

    {# TODO FIXME Resseting not working !#}
    <!-- body-content -->
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
            <div class="container">
                <div class="panel panel-md">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Profile Details  -->
                                    <div class="form-group">
                                        <p>{{ 'profile.show.username'|trans }}: <strong>{{ user.username }}</strong></p>
                                    </div>

                                    <div class="form-group">
                                        <p>{{ 'profile.show.email'|trans }}: <strong>{{ user.email }}</strong></p>
                                    </div>

                                    <div class="form-group">
                                        <p>{{ 'profile.show.name.first'|trans }}: <strong>{{ user.firstName }}</strong></p>
                                    </div>
                                    <div class="form-group">
                                        <p>{{ 'profile.show.name.last'|trans }}: <strong>{{ user.lastName }}</strong></p>
                                    </div>
                                <!-- END Profile Details  -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div><!--end body-content -->




{% endblock %}