{% extends '::layout_admin.html.twig' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            <h1 style="color:white"> Super Admin Control Panel - Check Spelling </h1>
        </div>
    </div>

{% endblock %}


{% block body %}

    <!-- body-content -->
    <div class="body-content clearfix" >

        <div class="bg-color1">
            <div class="container">
                <div class="col-md-3 col-sm-3">
                    {# User Details #}
                    {% include 'BJAdminBundle:SuperAdmin/Component:user_details.html.twig' %}
                    {# END User Details #}

                </div>
                <div class="col-md-9 col-sm-9">
                    {# List of Actions #}
                        {% if settings.action == 'overview' %}
                            {# My Alerts #}
                            {% include 'BJAdminBundle:SuperAdmin/Component:overview.html.twig' %}
                            {# END My Alerts #}
                        {% endif %}
                    {# END List of Actions #}

                </div>
            </div>
        </div>
    </div><!--end body-content -->




{% endblock %}