{% extends '::layout_email.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
    <!-- box item details -->
    <div class="block-section box-item-details">

        <!-- Bout Company-->
        <h3 class="title" id="cp-about">{{ document.firstName }} {{ document.lastName }} a postulé sa candidature</h3>

        <h4>Détails du Candidat </h4>
        <ul>
            <li>Prénom: <strong>{{ document.firstName }}</strong> </li>
            <li>Nom: <strong>{{ document.lastName }}</strong> </li>
            <li>Mail: <a href="mailto:{{ document.email }}"
                          target="_top"><strong>{{ document.email }}</strong></a> </li>
        </ul>

            <h4>Détails de votre Offre</h4>
        <ul>
            <li>Titre d'Offre : <strong>{{ offer.title }}</strong> </li>
            <li>Lien d'Offre: <a href="{{ url('bj_offer_details',{'id':offer.id,'title':offer.title|replace_whitespce }) }}" target="_blank">
                    <strong>Voir l'Offre</strong></a>
            </li>
            <li>Description d'Offre:
                <p>{{ offer.description }}</p>
            </li>
        </ul>

        <h4>{{ document.firstName }} a ajouté</h4>
        <p>{{ document.text }}</p>


    </div><!-- end box item details -->

        </div>
    </div>

{% endblock %}