{% extends '::layout_email.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <!-- box item details -->
            <div class="block-section box-item-details">

                <!-- Bout Company-->
                <h3 class="title" id="cp-about"> Votre offre est bien mis en ligne </h3>

                <h4>Titre d'offre</h4>
                <p>{{ offer.title }}</p>

                <h4>Nom d'Entreprise</h4>
                <p>{{ offer.enterprise.name }}</p>

                <h4>Voir votre offre</h4>
                <a target="_blank" href="{{ url('bj_offer_details',{'id':offer.id,'title':offer.title|replace_whitespce }) }}">
                    <p> {{ offer.title }}</p>
                </a>

            </div>
            <!-- end box item details -->
        </div>
    </div>

{% endblock %}