{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}


{% block body %}

    <div class="">

        {% if settings.action == 'index' %}
            {% include 'BJFrontBundle:Post:mode.html.twig' %}

        {% elseif settings.action == 'offer' %}
            {% include 'BJFrontBundle:Post:offer.html.twig' %}

        {% elseif settings.action == 'posted' %}
            <div style="padding:50px">
                {% include 'BJFrontBundle:Post:status.html.twig' %}
            </div>

        {% endif %}
    </div>

{% endblock %}