<!-- box with icon center -->
<div class="row">
    <div class="col-md-12" style="height:100px"></div>
    <div class="col-md-6">
        <div class="box-ic-center">
            <i class="fa fa-briefcase fa-4x"></i>
            <h4>Enregistrer votre enterprise</h4>
            <p>Enregistrer votre enterprise dans quelques étapes. <br>
                Vous pouvez gérer, modifier et publier autant d'offres que vous voulez! </p>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-sm btn-pill btn-theme btn-line dark">Enregistrer</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-ic-center ">
            <i class="fa fa-arrow-circle-o-right fa-4x"></i>
            <h4>Mode Rapide - CS </h4>
            <p>Publier directement une offre, un compte <br>sera enregistrer automatiquement. Vous pouvez le modifer plus tard</p>
            <a href="{{ path('bj_post_quick_offer') }}" class="btn btn-sm btn-pill btn-theme btn-line dark">Publier votre offre</a>
        </div>
    </div>
</div>-<!-- box with icon center -->
