{% set userdata = settings.userData %}

<div id="overlay-container" class="row l-overlay-container l-overlay-container-small hidden-xs" data-parallax="scroll" data-image-src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-publier.png') }}">
    {#<img class="col-xs-12 col-md-12" src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-'~ type|lower ~'s.png') }}" />#}

    <div class="l-overlay col-xs-10">
        <span class="l-overlay-header f-r-b" style="font-weight: bold;">Publier</span>
        <h3 class="l-overlay-body f-r-b">Gratuit : postez vos offres d'emploi dans la publicité</h3>

        <p class="l-overlay-body f-h-l" style="font-size: 22px"> Déposez via le formulaire ci-dessous <strong>toutes vos annonces d’alternances, CDD, CDI, freelances ou
                stages,</strong>
            à pourvoir en agence de communication ou bien chez l’annonceur.
        </p>


    </div>
</div>


<div class="white-space-20"></div>
<form class="row pf" method="post" action="{{ settings.url }}">
    <div class="col-md-10 col-md-offset-1 col-xs-12">

        {% include 'BJFrontBundle:Post/Components:1.announce.html.twig' %}

        {% include 'BJFrontBundle:Post/Components:2.enterprise.html.twig' %}

        {% include 'BJFrontBundle:Post/Components:3.description.html.twig' %}

        {% include 'BJFrontBundle:Post/Components:4.details.html.twig' %}

        {% include 'BJFrontBundle:Post/Components:5.privacy.html.twig' %}

        {% include 'BJFrontBundle:Post/Components:6.contact.html.twig' %}

    </div>
</form>

<script>
    $('#f-pt-1-other').change(function () {
        $("#f-pt-1-other option:selected").each(function () {
            var target = $('#f-pt-2-other');
            if ($(this).val() == "other") {
                target.css('visibility', 'visible');
            } else {
                target.css('visibility', 'hidden');
                target.val("");
            }
        });
    });

    $(function () {
        $.datepicker.regional['fr'] = {clearText: 'Effacer', clearStatus: '',
            closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
            prevText: '<Préc', prevStatus: 'Voir le mois précédent',
            nextText: 'Suiv>', nextStatus: 'Voir le mois suivant',
            currentText: 'Courant', currentStatus: 'Voir le mois courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
                'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
                'Jul','Aoû','Sep','Oct','Nov','Déc'],
            monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
            weekHeader: 'Sm', weekStatus: '',
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
            dateFormat: 'dd/mm/yy', firstDay: 0,
            initStatus: 'Choisir la date', isRTL: false};
        $.datepicker.setDefaults($.datepicker.regional['fr'])
        $("#f-d-s").datepicker({
            showButtonPanel: true,
            altFormat: 'dd/mm-yyyy',
            firstDay: 1
        });
    });

    new FormOffer({

        poste: {
            input: $('input[name="fr-post"]'),
            prefetch: '/tmp/form_poste_list.json'
        },

        enterprise: {
            input: $('input[name="fr-enterprise"]'),
            remote: "{{ path('bj_search.enterprise.suggestion.base') }}",
            getEnterprise: "{{ path('bj_search.enterprise.id') }}"
        },

        ent: {
            container: $('.pf-ent-list'),
            item: '.pf-ent',
            search: {
                input: $('#pf-ent-search')
            },
            result: $('.pf-ent-search-result'),
            optional: {
                type: $('select[name="f-c-n-1"]'),
                name: $('input[name="f-c-n"]'),
                description: $('textarea[name="f-o-d"]')
            },
            val: $('input[name="f-opt-ent"]')
        },
        details: {
            street: $('input[name="f-l-1"]'),
            postal: $('input[name="f-l-4"]'),
            city: $('input[name="f-l-2"]'),
            country: $('input[name="f-l-3"]'),
            email: $('input[name="f-e"]'),
            phone: $('input[name="f-p"]'),
            mission: $('textarea[name="f-o-d-m"]'),
            profile: $('textarea[name="f-o-d-p"]'),
            description: $('textarea[name="f-o-d"]')
        },
        url: {
            contact: "{{ path('bj_offer_contact_us') }}"
        }
    });

    /*
        autochoice:
            enterprise: f-opt-ent
     */
</script>
