{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}


{% block body %}

    <div class="">

        <div class="posted">
            <h1 class="f-r-bb">Merci !</h1>
            <p>
                Votre offre d’emploi <span class="f-r-b" style="color:green">a bien été enregistrée.</span>
            </p>

            <p style="font-size: 16px;font-family: Helvetica;">
                <b>Vous recevrez un email</b> lorsque'elle sera mise en ligne, apès modération.
            </p>

            <p class="text-right" style="font-size: 14px;">
                Si besoin, <a class="hover-text-blue" href="{{ path('bj_offer_contact_us') }}"><b>contactez Un Job Dans la Pub</b></a>
            </p>


            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <p>
                <span class="f-r-bb" style="font-size: 14px;font-weight: bold;">Suivez Un Job Dans la Pub</span><br>
            </p>

            <div class="row" style="position: relative;">
                <div class="container-fluid" style="margin-top: 10px;">
                    <ul class="offer-social-button" style="">
                        <li style="position: absolute;bottom: 4px;left: 0px;">
                            <div class="fb-like" data-href="https://www.facebook.com/unjobdanslapub"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-show-faces="false"
                                 data-share="false">
                            </div>
                        </li>
                        <li style="position: absolute;bottom: -6px;left: 111px;">
                            <div style="">
                                <div class="g-plusone" data-annotation="bubble" data-size="standard"
                                     data-href="{{ url('bj_front_homepage') }}">
                                </div>
                            </div>
                        </li>

                        <li style="position: absolute;bottom: -4px;;left: 192px;">
                            <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                    src="http://platform.twitter.com/widgets/follow_button.html?screen_name=UnJobdanslaPub"
                                    style="width:auto; height:20px;"></iframe>
                        </li>
                        <li style="position: absolute;bottom: 1px;left: 464px;width: 300px;">
                            <span style="font-size: 14px;"> // Rejoignez le groupe </span>
                        </li>
                        <li style="position: absolute;bottom: -30px;left: 0px;width: 600px;">
                            <span style="font-size: 14px;"><a href="https://www.linkedin.com/grp/home?gid=7419020" target="_blank" class="hover-text-blue"> LinkedIn <b>Un Job dans la Pub</b></a> (+5.100 membres)</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


