{% set userdata = settings.userData %}

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <h3>Gratuit : postez vos offres d'emploi dans la publicité</h3>
        <h4>
            Déposer via le formulaire ci-dessous <strong>toutes vos annonces d’alternances, CDD, CDI, freelances ou
                stages,</strong>
            à pourvoir en agence de communication ou bien chez l’annonceur.
        </h4>
        <hr>
    </div>
</div>
<form class="row" method="post" action="{{ settings.url }}">
    <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">
        <div class="row">

            <h4>Titre de l'announce</h4>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Type Contract</label>
                    <select class="form-control" name="f-c-t" title="">
                        <option value="cdi"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'cdi' %} selected  {% endif %} {% endif %}>
                            CDI
                        </option>
                        <option value="cdd"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'cdd' %} selected  {% endif %} {% endif %}>
                            CDD
                        </option>
                        <option value="stage"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'stage' %} selected  {% endif %} {% endif %}>
                            STAGE
                        </option>
                        <option value="alternance"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'alternance' %} selected  {% endif %} {% endif %}>
                            ALTERNANCE
                        </option>
                        <option value="freelance" {% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'freelance' %} selected  {% endif %} {% endif %}>
                            FREELANCE
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Intitule du poste</label>
                    <select id="f-pt-1-other" class="form-control" name="f-pt-1">
                        <option value="commercial" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'commercial' %} selected  {% endif %} {% endif %}>
                            COMMERCIAL
                        </option>
                        <option value="creation" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'creation' %} selected {% endif %}  {% endif %}>
                            CREATION
                        </option>
                        <option value="planning" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'planning' %} selected  {% endif %} {% endif %}>
                            PLANNING
                        </option>
                        <option value="digital" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'digital' %} selected  {% endif %} {% endif %}>
                            DIGITAL
                        </option>
                        <option value="other" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'other' %} selected  {% endif %} {% endif %} >
                            OTHER
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="f-pt-2-other" name="f-pt-2" class="form-control"
                           placeholder="other intitule du poste" style="visibility:hidden"/>
                </div>
                {#<div class="form-group">#}
                {#<label for="">Intitule du poste</label>#}
                {#<div class="row">#}
                {#<div class="col-md-4 col-xs-4">#}
                {#<input type="radio" value="Commercial" name="f-pt-1" required="required">#}
                {#<span class="text-small">Commercial</span>#}
                {#</div>#}
                {#<div class="col-md-4 col-xs-4">#}
                {#<input type="radio" value="creation" name="f-pt-1">#}
                {#<span class="text-small">Creation</span>#}
                {#</div>#}
                {#<div class="col-md-4 col-xs-4">#}
                {#<input type="radio" value="planning" name="f-pt-1">#}
                {#<span class="text-small">Planning</span>#}
                {#</div>#}
                {#&#123;&#35; TODO placement &#35;&#125;#}
                {#<div class="col-md-4 col-xs-4">#}
                {#<input type="radio" value="digital" name="f-pt-1">#}
                {#<span class="text-small">Digital</span>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-12">#}
                {#<input type="text" name="f-pt-2" class="form-control" placeholder="other" />#}
                {#<!-- TODO if select other => de-select radio buttons -->#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Type d'ENTERPRISE</label>
                    <select class="form-control" name="f-c-n-1">
                        <option value="agence" {% if userdata.enterprise is defined %} {% if userdata.enterprise.type|lower == 'agence' %} selected {% endif %} {% endif %} >
                            AGENCE
                        </option>
                        <option value="annonceur" {% if userdata.enterprise is defined %} {% if userdata.enterprise.type|lower == 'annonceur' %} selected {% endif %} {% endif %} >
                            ANNONCEUR
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Nom d'ENTERPRISE</label>
                    <input type="text" name="f-c-n" id="enterprise-target" class="form-control"
                           placeholder="Nom de votre enterprise" required="required"
                           value="{% if userdata.enterprise is defined %} {{ userdata.enterprise.name }} {% endif %}"/>
                </div>
            </div>

            {% if settings.user is defined %}
                {% if settings.user is not null and settings.user.enterprises|length > 0 %}
                    <!-- Enterprise Chooser Container -->
                    <div class="panel panel-default col-md-4 no-padding">
                        <div class="panel-heading height-small">Vos enterprises</div>
                        <div class="panel-body no-padding">
                            <ul id="enterprise-block" class="select-custom">
                            </ul>
                        </div>
                    </div>
                    <!-- END Enterprise Chooser Container -->
                {% endif %}
            {% endif %}

            {#<div class="form-group">#}
            {#<label for="">Enterprise</label>#}
            {#<div class="row">#}
            {#<div class="col-md-4 col-xs-4">#}
            {#<input type="radio" value="agence" name="f-c-n-1" required="required">#}
            {#<span class="text-small">Agence</span>#}
            {#</div>#}
            {#<div class="col-md-4 col-xs-4">#}
            {#<input type="radio" value="announceur" name="f-c-n-1">#}
            {#<span class="text-small">Annonceur</span>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-md-12">#}
            {#<input type="text" name="f-c-n" class="form-control" placeholder="Name of your enterprise" required="required"/>#}
            {#<!-- TODO if select other => de-select radio buttons -->#}
            {#</div>#}
            {#</div>#}

        </div>


        <div class="row">
            <h4>Title</h4>
            <input type="text" class="form-control" name="f-o-t" placeholder="le titre de votre offre"
                   required="required"
                   value="{% if userdata.offer is defined %} {{ userdata.offer.title }} {% endif %}"/>
        </div>

        <div class="row">
            <h4>Description de l'enterprise</h4>
            <textarea class="form-control" name="f-o-d" rows="10" placeholder="érivez à propos de votre entreprise"
                      required="required">{% if userdata.offer is defined %} {{ userdata.offer.description }} {% endif %}</textarea>
        </div>

        <div class="row">
            <h4>Mission</h4>
            <textarea class="form-control" name="f-o-d-m" rows="10" placeholder="élaborez sur votre offre"
                      required="required">{% if userdata.offer is defined %} {{ userdata.offer.mission }} {% endif %}</textarea>
        </div>

        <div class="row">
            <h4>Profile</h4>
            <textarea class="form-control" name="f-o-d-p" rows="10" placeholder="écrivez sur le profil d'offre"
                      required="required">{% if userdata.offer is defined %} {{ userdata.offer.profile }} {% endif %}</textarea>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <h4>Date de debut</h4>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="white-space-10"></div>
                <input type="checkbox" value="1"
                       name="f-d-a" {% if userdata.offer is defined %} {% if userdata.offer.asap == '1' %} checked="checked" {% endif %} {% endif %}>
                <span class="text-small">Des que possible</span>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="">
                    <span class="text-small">Date precise: </span>
                    <input type="text" class="form-control" name="f-d-s" id="f-d-s" required="required"
                           value="{% if userdata.offer is defined %} {{ userdata.offer.dateStart|date('Y-m-d') }} {% endif %}"/>
                </div>
            </div>

        </div>
        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <h4>Duree</h4>
            </div>
            {#<div class="col-md-4 ">#}
            {#<div class="radio-inline">#}
            {#<div class="white-space-10"></div>#}
            {#<input type="radio"  name="f-du" value="3" {% if userdata.offer is defined %} {% if userdata.offer.duration == '3'%} checked="checked" {% endif %} {% endif %}>#}
            {#<span class="text-small">3 mois</span>#}
            {#</div>#}
            {#<div class="radio-inline">#}
            {#<div class="white-space-10"></div>#}
            {#<input type="radio"  name="f-du" value="6" {% if userdata.offer is defined %} {% if userdata.offer.duration == '6'%} checked="checked" {% endif %} {% endif %}>#}
            {#<span class="text-small">6 mois</span>#}
            {#</div>#}
            {#<div class="radio-inline">#}
            {#<div class="white-space-10"></div>#}
            {#<input type="radio"  name="f-du" value="6+" {% if userdata.offer is defined %} {% if userdata.offer.duration == '6+'%} checked="checked" {% endif %} {% endif %}>#}
            {#<span class="text-small">indeterminee</span>#}
            {#</div>#}
            {#</div>#}
            <div class="col-md-9">
                <div class="">
                    <span class="text-small"></span>
                    <input type="text" class="form-control" name="f-du-2"/>
                </div>
            </div>

        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Remuneration</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-c-s-1" required="required"
                       value="{% if userdata.offer is defined %} {{ userdata.offer.salary }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Adresse Complete</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-l-1" required="required"
                       value="{% if userdata.address is defined %} {{ userdata.address.street }} {% endif %}"/>
            </div>
        </div>


        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Code postal</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-l-4" required="required"
                       value="{% if userdata.address is defined %} {{ userdata.address.postal }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Ville</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-l-2" required="required"
                       value="{% if userdata.address is defined %} {{ userdata.address.city }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Country</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-l-3" required="required"
                       value="{% if userdata.address is defined %} {{ userdata.address.country }} {% else %} France {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Email ou lien pour postuler</h4>
            </div>
            <div class="col-md-9 ">
                <input type="email" class="form-control" name="f-e" required="required"
                       value="{% if userdata.email is defined %} {{ userdata.email.email }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Phone (Optional)</h4>
            </div>
            <div class="col-md-9 ">
                <input type="text" class="form-control" name="f-p"
                       value="{% if userdata.phone is defined %} {{ userdata.phone.number }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="form-group">
            <label>Les options de confidentialité</label>

            <div class="row clearfix">
                <div class="col-xs-10 col-xs-offset-1"
                     style="background-color:white;border: 1px solid #ccc;font-size: 16px;">
                    <div class="radio">
                        <label>
                            <input type="radio" name="privacy" value="0"
                                   required="required" {% if userdata.offer is defined %} {% if userdata.offer.privacy == '0' %} checked="checked" {% endif %} {% endif %}>
                            <strong> Public </strong> : Tout le monde peut l'acceder
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="privacy"
                                   value="1" {% if userdata.offer is defined %} {% if userdata.offer.privacy == '1' %} checked="checked" {% endif %} {% endif %}>
                            <strong> Privé </strong> : Visible que par access direct (URL)
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h4>Contact du recruteur ( prive : votre information sera pas publier )</h4>

        {#<div class="row">#}
        {#<div class="col-md-3 ">#}
        {#<h4>Prenom</h4>#}
        {#</div>#}
        {#<div class="col-md-9 ">#}
        {#<input type="text" class="form-control" name="f-n-f"  required="required"/>#}
        {#</div>#}
        {#</div>#}

        {#<div class="white-space-20"></div>#}
        {#<div class="row">#}
        {#<div class="col-md-3 ">#}
        {#<h4>Nom</h4>#}
        {#</div>#}
        {#<div class="col-md-9 ">#}
        {#<input type="text" class="form-control" name="f-n-l"  required="required"/>#}
        {#</div>#}
        {#</div>#}

        <div class="white-space-20"></div>
        <div class="row">
            <div class="col-md-3 ">
                <h4>Email</h4>
            </div>
            <div class="col-md-9 ">
                <input type="email" class="form-control" name="email-person" required="required"
                       value="{% if userdata.user is defined %} {{ userdata.user.email }} {% endif %}"/>
            </div>
        </div>

        <div class="white-space-20"></div>
        <div class="white-space-20"></div>
        <input type="submit" class="form-control" value="Publier Votre Offre!"
               style="background-color:#5CB85C;color:white"/>

        <div style="height:100px;"></div>
    </div>

</form>


<script>
    $('#f-pt-1-other').change(function () {
        $("#f-pt-1-other option:selected").each(function () {
            var target = $('#f-pt-2-other');
            if ($(this).val() == "other") {
                target.css('visibility', 'visible');
            } else {
                target.css('visibility', 'hidden');
                target.val("");
            }
        });
    });

    $(function () {
        $("#f-d-s").datepicker({
            showButtonPanel: true
        });
    });

</script>

<script>

    {% if settings.user is not null  %}

    var config = {
        'enterprise': [
            {% for ent in settings.user.enterprises %}
            {'name': '{{ ent.name }}'},
            {% endfor %}
        ]
    };

    var ent_ref = [
        {
            'name': 'enterprise',
            'data': {
                'container': '#enterprise-block',
                'target': 'enterprise-target'
            }
        }
    ];

    setupPost(ent_ref);

    {% endif %}
</script>