<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% if config is defined %}
            <title>{{ config.title }}</title>
        {% else %}
            <title>UnJobDansLaPub</title>
        {% endif %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
