<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/bundles/app/theme/images/favicon-llllitl.png">

    {% if config is defined %}
        <title>{{ config.title }}</title>
    {% else %}
        <title>UnJobDansLaPub</title>
    {% endif %}

    {% block stylesheets %}
        <style>
            /*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
            /*@font-face {*/
                /*font-family: 'helvetica';*/
                /*src: url(/blogger/web/bundles/app/theme/css/helvetica.ttf);*/
            /*}*/
        </style>
        {# CSS Files #}
        {% stylesheets '@theme_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@theme_css_2' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% javascripts '@theme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        var global = {
            path: {
                paths: {
                    offer: "{{ path('bj_offer_details', {'id': 'XX','title': 'YY' } ) }}"
                },
                splitAt: "XX"
            }
        };
    </script>
</head>
<body>
<!-- wrapper page -->
<div class="wrapper">
    <!-- main-header -->
    <header class="main-header">

        {# HEADER Nav Bar #}
            {% include 'BJFrontBundle:Header:nav_bar.html.twig' %}
        {# END HEADER Nav Bar #}

        {% block header %}{% endblock %}
    </header><!-- end main-header -->

    <!--   Body Layout     -->
    <div class="container-fluid" style="">
        <div id="body" class="row" style="">
            <!-- Left Panel -->
            <div class="col-md-12 panel-left">

                {% block body %}{% endblock %}

            </div>
            <!-- END Left Panel -->

        </div>
    </div>

    <!--   End Body  Layout    -->

    <footer>
        {% include 'BJFrontBundle:Footer:footer.html.twig' %}
    </footer>

    <script>
        var overallHeight = $(window).height();
        var headerHeight = $('.main-header').height();
        var heightFooter = $('.main-footer').height();
        $('#body').css('min-height', overallHeight - headerHeight - heightFooter - 34);
    </script>
</div>
</body>
</html>