<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if config is defined %}
        <title>{{ config.title }}</title>
    {% else %}
        <title>UnJobDansLaPub</title>
    {% endif %}

    {% block stylesheets %}
        <style>
            @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
        </style>
        {# Icons #}
        {% stylesheets '@theme_icon_1' %}
            <link rel="apple-touch-icon" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets '@theme_icon_2' %}
            <link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon"/>
        {% endstylesheets %}
        {# CSS Files #}
        {% stylesheets '@theme_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% javascripts '@theme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
<body>


    <!-- wrapper page -->
    <div class="wrapper">

        <!-- main-header -->
        <header class="main-header">

            {# HEADER Nav Bar #}

            {# END HEADER Nav Bar #}

            {% block header %}{% endblock %}

        </header>
        <!-- end main-header -->


        {% block body %}{% endblock %}


        {# Footer #}
        {% include 'BJFrontBundle:Footer:footer.html.twig' %}
        {# END Footer #}

    </div><!-- end wrapper page -->


{% block javascripts %}
{% endblock %}

</body>
</html>


