<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if config is defined %}
        <title>{{ config.title }}</title>
    {% else %}
        <title>UnJobDansLaPub</title>
    {% endif %}

    {% block stylesheets %}
        {# Icons #}
        {% stylesheets '@simple_bootstrap' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

    <!-- main-body -->
    {% block body %}{% endblock %}
    <!-- end main-body -->

</body>
</html>


