<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/bundles/app/theme/images/favicon-llllitl.png">
    <meta name="description" content="Alternances, CDD, CDI, freelances, stages… Retrouvez ici toutes les offres d’emploi à pourvoir actuellement dans le monde de la communication : en agence de publicité ou chez l’annonceur.">
    <meta name="keywords" content="">
    <meta name="author" content="llllitl.fr">

    {% if config is defined %}
        <title>{{ config.title }}</title>
    {% else %}
        {#<title>UnJobDansLaPub</title>#}
        <title>Un Job dans la Pub - Offres d’emploi en agence de publicité et chez l’annonceur</title>
    {% endif %}

    {% block stylesheets %}
        <style>
            /*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
            /*@font-face {*/
            /*font-family: 'helvetica';*/
            /*src: url(/blogger/web/bundles/app/theme/css/helvetica.ttf);*/
            /*}*/
        </style>
        {# CSS Files #}
        {% stylesheets '@theme_css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets '@theme_css_2' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% javascripts '@theme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Place this tag in your head or just before your close body tag. -->
    <script>
        window.___gcfg = {
            lang: 'fr'
        };
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        var global = {
            path: {
                paths: {
                    offer: "{{ path('bj_offer_details', {'id': 'XX','title': 'YY' } ) }}"
                },
                splitAt: "XX"
            },
            search: {
                remote: "{{ path('bj_search.suggestion.base') }}"
            }
        };
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70442053-1', 'auto');
        ga('send', 'pageview');

    </script>


    {# twitter #}
    <script>window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    {# linkedin #}
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
</head>
<body>
{# facebook sdks #}
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=367206563486465";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '367206563486465',
            xfbml: true,
            version: 'v2.5'
        });
        new FacebookPlugins();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{# end facebook sdks #}

<!-- wrapper page -->
<div class="wrapper">
    <!-- main-header -->
    <header class="main-header">

        {# HEADER Nav Bar #}
        {% include 'BJFrontBundle:Header:nav_bar.html.twig' %}
        {# END HEADER Nav Bar #}

        {% block header %}{% endblock %}
    </header>
    <!-- end main-header -->

    <!--   Body Layout     -->
    <div class="container-fluid" style="">
        <div id="body" class="row" style="">
            <!-- Left Panel -->
            <div class="col-md-9 panel-left">

                {% block body %}{% endblock %}

            </div>
            <!-- END Left Panel -->

            <div class="col-md-3 panel-right" style="padding-top: 65px;">
                <!-- Right Panel -->

                {# TODO uncomment #}
                {% include 'BJFrontBundle:Sidebar:sidebar.html.twig' %}
                {% block sidebar %}{% endblock %}

                <!-- END Right Panel -->
            </div>
        </div>
    </div>

    <!--   End Body  Layout    -->

    <footer>
        {% include 'BJFrontBundle:Footer:footer.html.twig' %}
    </footer>

    <script>
        var overallHeight = $(window).height();
        var headerHeight = $('.main-header').height();
        var heightFooter = $('.main-footer').height();
        $('#body').css('min-height', overallHeight - headerHeight - heightFooter - 34);
    </script>
</div>
</body>
</html>