<!-- box affix right -->
<div class="block-section">
    <div class="text-right">
        <p>
            <a href="{{ path('bj_offer_listing.contract',{'contract':list.contract}) }}"
               class="btn btn-primary btn-lg">
                View all offers in {{ list.contract }}
            </a>
        </p>
    </div>
</div>
<!-- box affix right -->