{% extends '::layout_admin.html.twig' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            <h1 style="color:white"> Enterprise Control Panel - Check Spelling </h1>
        </div>
    </div>

{% endblock %}


{% block body %}

    <!-- body-content -->
    <div class="body-content clearfix" style="background-color:white">

        <div class="" style="background-color:white">
            {#<div class="container">#}
                <div class="col-md-3 col-sm-3" id="platform-nav" style="background-color:white">
                    {# User Details #}
                    {% include 'BJAdminBundle:Enterprise/Component:user_details.html.twig' %}
                    {# END User Details #}

                </div>
                <div class="col-md-9 col-sm-9" style="background-color:white">
                    {# List of Actions #}
                        {% if settings.action == 'overview' %}
                            {# Overview #}
                            <div class="col-md-9">
                                {% include 'BJAdminBundle:Enterprise/Component:overview.html.twig' %}
                            </div>
                        {% elseif settings.action == 'enterprise' %}
                            {# Enterprise Details #}
                            <div class="col-md-10">
                                {% include 'BJAdminBundle:Enterprise/Component:enterprise.html.twig' %}
                            </div>
                        {% elseif settings.action == 'enterprise_edit' %}
                            {# Enterprise Edit  #}
                            <div class="col-md-11">
                                {% include 'BJAdminBundle:Enterprise/Component:enterprise_edit.html.twig' %}
                            </div>
                        {% elseif settings.action == 'enterprise_new' %}
                            {# Enterprise Edit  #}
                            <div class="col-md-11">
                                {% include 'BJAdminBundle:Enterprise/Component:enterprise_new.html.twig' %}
                            </div>
                        {% elseif settings.action == 'offer_edit' %}
                            {# Offer Edit  #}
                            <div class="col-md-11">
                                {% include 'BJAdminBundle:Enterprise/Component:offer_edit.html.twig' %}
                            </div>
                        {% elseif settings.action == 'offer_new_stage_1' %}
                            {# Offer new Stage 1 #}
                            <div class="col-md-11">
                                {% include 'BJAdminBundle:Enterprise/Component:offer_new_stage_1.html.twig' %}
                            </div>
                        {% elseif settings.action == 'offer_new_stage_2' %}
                            {# Offer new Stage 2 #}
                            <div class="col-md-11">
                                {% include 'BJAdminBundle:Enterprise/Component:offer_new_stage_2.html.twig' %}
                            </div>

                        {% endif %}
                    {# END List of Actions #}

                </div>
            {#</div>#}
        </div>
    </div><!--end body-content -->




{% endblock %}