<table class="table">
    <thead>
        <tr>
            <th>Offer Name</th>
            <th>Enterprise Name</th>
            <th>Address</th>
            <th>Date</th>
            <th>Contract</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.title }}</td>
                <td>{{ offer.enterprise.name }}</td>
                <td>{{ offer.address.city~', '~offer.address.postal }}</td>
                <td>{{ offer.createdAt|diff_time(offer.createdAt) }} | {{ offer.createdAt|date('d M Y') }}</td>
                <td><i class="fa fa-briefcase"></i> {{ offer.type }}</td>
                <td><i class="fa fa-money"></i> ${{ offer.salary }}</td>
                <td style="width:50px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                {#<a target="_blank" href="{{ path('admin_bj_corporate_offer_tracker_edit',{'id':offer.id, 'childId': offer.tracker.id}) }}">#}
                                    {#{% if offer.tracker.authorised == true %}#}
                                        {#<button class="btn btn-sm btn-success bj-track-action" style="width:100%"><i class="fa fa-pencil"></i> <strong>Tracker</strong></button>#}
                                    {#{% else %}#}
                                        {#<button class="btn btn-sm btn-primary bj-track-action" style="width:100%"><i class="fa fa-pencil"></i> <strong>Tracker</strong></button>#}
                                    {#{% endif %}#}
                                {#</a>#}
                                <i class="fa fa-pencil"></i> <strong>Authorise</strong>
                            </li>
                            <li>
                                <iframe src="{{ path('user.admin.super.dashboard.authorise',{'id':offer.id}) }}" style="width:150px;height:70px;border:none"></iframe>
                            </li>
                            <li>
                                <a target="_blank" href="{{ path('user.admin.super.dashboard.edit.offer',{'id':offer.id}) }}">
                                    <button class="btn btn-sm btn-warning" style="width:100%"><i class="fa fa-pencil"></i> <strong>Edit Offer</strong></button>
                                </a>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th>Offer Name</th>
            <th>Enterprise Name</th>
            <th>Address</th>
            <th>Contract</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>


{#{% for offer in offers %}#}

    {#<div class="h3st-group-item" style="position:relative">#}
        {#<div class="bj-track-cnt">#}
            {#<a target="_blank" href="{{ path('admin_bj_corporate_offer_tracker_edit',{'id':offer.id, 'childId': offer.tracker.id}) }}">#}
                {#{% if offer.tracker.authorised == true %}#}
                    {#<button class="btn btn-success bj-track-action">Edit Tracker</button>#}
                {#{% else %}#}
                    {#<button class="btn btn-primary bj-track-action">Edit Tracker</button>#}
                {#{% endif %}#}
            {#</a>#}
            {#<a target="_blank" href="{{ path('user.admin.super.dashboard.edit.offer',{'id':offer.id}) }}">#}
                {#<button class="btn btn-warning">Edit Offer</button>#}
            {#</a>#}
        {#</div>#}
        {#<div class="panel panel-default" style="margin-bottom:5px;">#}
            {#<div class="panel-body" style="padding-top:26px;">#}
                {#<h3>{{ offer.title }}</h3>#}
                {#<div class="job-meta">#}
                    {#<ul class="list-inline">#}
                        {#<li> {{ offer.enterprise.name }}</li>#}
                        {#<li><i class="fa fa-briefcase"></i> Contract {{ offer.type }}</li>#}
                        {#<li><i class="fa fa-map-marker"></i>#}
                            {#{{ offer.enterprise.address.city~', '~offer.enterprise.address.postal }}#}
                        {#</li>#}
                        {#<li><i class="fa fa-money"></i> ${{ offer.salStart }} - ${{ offer.salEnd }}</li>#}
                    {#</ul>#}
                {#</div>#}
                {#&#123;&#35;<p>{{ offer.description }}</p>&#35;&#125;#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{#{% endfor %}#}

<script>
    $(document).ready(function(){
        $('.bj-track-action').trackerEdit({});
    });
</script>

