{% extends 'BJUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            <a href="#">
                <img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">
            </a></div>
    </div>

{% endblock %}


{% block body  %}

    {# TODO FIXME Resseting not working !#}
    <!-- body-content -->
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
            <div class="container">
                <div class="panel panel-md">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Form Reset Password -->
                                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                                    {{ form_row(form._token) }}

                                    <div class="form-group">
                                        {{ form_label(form.current_password ) }}
                                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'Enter password', 'required': 'required'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.first ) }}
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Enter password', 'required': 'required'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.second ) }}
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Enter password again', 'required': 'required'}}) }}
                                    </div>

                                    <div class="white-space-20"></div>


                                    <div class="form-group no-margin">
                                        <input type="submit" value="{{ 'change_password.submit'|trans }}"
                                               class="btn btn-theme btn-lg btn-t-primary btn-block" />
                                    </div>
                                </form>
                                <!-- END Form Reset Password -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div><!--end body-content -->




{% endblock %}