<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogger - JobHunt</title>

    {% block stylesheets %}
        <style>
            @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
        </style>
        {# Icons #}
        {% stylesheets '@theme_icon_1' %}
            <link rel="apple-touch-icon" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets '@theme_icon_2' %}
            <link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon"/>
        {% endstylesheets %}
        {# CSS Files #}
        {% stylesheets '@theme_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@theme_css_2' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts '@theme_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            var global = {
                path: {
                    paths: {
                        offer: "{{ path('bj_offer_details', {'id': 'XX','title': 'YY' } ) }}"
                    },
                    splitAt: "XX"
                }
            };
        </script>

        <style>
            div.container{
                padding-top: 50px;
            }
        </style>

    {% endblock %}



</head>
<body>


<!-- wrapper page -->
<div class="wrapper">

    <!-- main-header -->
    <header class="main-header">

        {# HEADER Nav Bar #}
        {% include 'BJFrontBundle:Header:nav_bar.html.twig' %}
        {# END HEADER Nav Bar #}

        {% block header %}{% endblock %}

    </header>
    <!-- end main-header -->


    {% block body %}
        {% block fos_user_content %} {% endblock %}
    {% endblock %}


    {# Footer #}
    {% include 'BJFrontBundle:Footer:footer.html.twig' %}
    {# END Footer #}

</div><!-- end wrapper page -->


{% block javascripts %}
    {#TODO network error #}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% javascripts '@theme_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>


