

@font-face {
    font-family: roboto;
    src: url(/bundles/app/theme/font/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(/bundles/app/theme/font/roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: roboto-normal;
    src: url(/bundles/app/theme/font/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(/bundles/app/theme/font/roboto/Roboto-Black.ttf);
}

/*@font-face {*/
    /*font-family: helvetica-light;*/
    /*/!*src: url(/bundles/app/theme/font/helvetica/Helvetica-Light.ttf);*!/*/
    /*src: url(/bundles/app/theme/font/helvetica/HelveticaNeueLTStdLt.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'helvetica';*/
    /*/!*src: url(/bundles/app/theme/font/helvetica/Helvetica-Light.ttf);*!/*/
    /*src: url(/bundles/app/theme/font/helvetica/HelveticaNeueLTStdLt.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: helvetica-bold*/
    /*src: url(/bundles/app/theme/font/helvetica/HelveticaNeue-ThinExtObl.otf);*/
/*}*/

@font-face {
    font-family: 'helvetica';
    src: url(/bundles/app/theme/font/fontawesome/fontawesome-webfont.eot);
}

/*@font-face {*/
    /*font-family: 'helvetica';*/
    /*src: url(/bundles/app/theme/font/fontawesome/fontawesome-webfont.svg);*/
/*}*/

/*@font-face {*/
    /*font-family: 'helvetica';*/
    /*src: url(/bundles/app/theme/font/fontawesome/fontawesome-webfont.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'helvetica';*/
    /*src: url(/bundles/app/theme/font/fontawesome/fontawesome-webfont.woff);*/
/*}*/

@font-face {
    font-family: 'helvetica';
    src: url(/bundles/app/theme/font/helvetica/HelveticaNeueLTStdLt.otf);
}

@font-face {
    font-family: helvetica-bold;
    src: url(/bundles/app/theme/font/helvetica/Helvetica-Bold.otf);
}


.f-r-b{
    font-family: roboto-bold, serif;
    font-weight: normal;
}
.f-r-bb{
    font-family: roboto-bold, serif;
    font-weight: normal;
}
.f-r-bn{
    font-family: 'Roboto', serif;
}
.f-o-l{
    font-family: 'Open Sans', serif;
}

.f-h-l{
    font-family: 'helvetica', serif;
}
.f-h-b{
    font-family: 'helvetica', serif;
    font-weight: bold;
}

.f-h-bb{
    font-family: helvetica-bold, serif;
}



.td-heavy {
    font-family: roboto-bold, serif;
}

body{
    font-family: 'helvetica', serif;
}

strong{
    /*font-family: roboto, serif;*/
    /*font-weight: bold;*/
}

.btn-theme{
    font-weight: normal;
}

.header-button-hover strong{
    font-weight: normal;
}