.font-m{
    font-size: 16px;
}

.cursor{
    cursor: pointer;
}

.cursor-remove{
    cursor: no-drop;
}

.background-grey{
    background: lightgrey;
}


.btn-header{
    font-size: 14px;
    background-color: #cccccc;
    color: black;
}

.header-button-hover{
}

.btn-header:hover{
    background-color: #69dffd;
}

.header-button-hover:hover, .header-button-hover:hover > a > strong {
    background-color: #69dffd;
    color: black;
}

.btn-blue{
    background-color: #00ccff;
}
.btn-blue-2{
    background-color: #69dffd;
}
.text-blue{
    color: #00ccff;
}

.hover-blue:hover{
    background-color: #00ccff;
    color: black;
    text-decoration: none;
}
.hover-blue-2:hover{
    background-color: #69dffd;
    color: black;
    text-decoration: none;
}

.hover-text-blue:hover, .hover-text-blue:hover > a {
    color: #00ccff;
    text-decoration: none;
}
.hover-text-blue-2:hover, .hover-text-blue-2:hover > a {
    color: #69dffd;
    text-decoration: none;
}

.header-button-hover > a > strong{
    font-size: 14px;
    color: black;
}

#btn-landing-form-search, #btn-form-search{
    font-size: 14px;
    background: #cccccc;
    color: black;
}

#btn-landing-form-search:hover, #btn-form-search:hover{
     background: #00ccff;
}


#navbar-logo{
    position:relative;
    left:8%;
}

.panel-no-border{
    border: none;
}

.main-footer{
    background-color: #333333;
    color: white !important;
    min-height: 300px;
    padding-top: 15px;
}

.footer-logo{
    margin-top: 17px;
    margin-bottom: 45px;
}

.footer-logo img{
    width: 200px;
    height: auto;
}

.main-footer a strong{
    color: white;
}
.main-footer h2{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.main-footer i{
    font-size: 30px;
    margin-right: 12px;
    color: white;
}
.main-footer i:hover{
    color: #69dffd;
}

.main-footer a{
    color: white;
    text-decoration: none;
}

.alphabet-trigger{
    font-size: 20px;
    color: black;
}
.alphabet-trigger:focus{
    color: #00ccff;
}
.alp{
    color: black;
}

.ent-container{
    padding: 0 32px;
}

.ent-container p{
    color: black;
    line-height: 20px;
    font-size: 12px;
}

.ent-container h1{
    color: #00ccff;
}

.ent-container a{
    color: black;
}

.btn-list button{
    margin-right: 10px;
}

.list-1{
    list-style:none;
    padding: 0;
    font-size: 14px;
}

.list-2 a{
    padding: 0 5px;
}
.list-2 a button{
    width: 100%;
}

#ui-datepicker-div{
    font-family: roboto, serif;
}

.ui-datepicker-buttonpane.ui-widget-content{
    display: none;
}

.ui-datepicker-header{
    border-color: #00ccff;
    background: #00ccff;
}
.ui-datepicker-calendar{
    background: white;
    border-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

textarea:focus{
    background-color: blue;
}

.btn-search-navbar{
    font-size: 18px;
    position: relative;
    right: 26px;
    top: 14px;
}

#bs-example-navbar-collapse-1{
    position: relative;
}

.navbar-search-dropdown{
    position: absolute;
    right: 10px;
    bottom: -49px;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);*/
    padding: 10px 20px;
    background: white;
    border-top: solid 5px #00ccff;
    width: 450px;
    display: none;
}

.navbar-search-dropdown:before{
    position: absolute;
    top: -10px;
    right: 19px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #00ccff transparent;
}

.navbar-search-dropdown.is-visible{
    display: block;
}

.navbar-search-dropdown button{
    color: white;
    background: black;
    width: 90px;
    height: 35px;
    position: relative;
    right: 4px;
    top: 3px;
}

#navbar-search-input{
    width: 310px;
    height: 34px;
    padding: 0 10px;
}

.tt-hint{
    /*width: 235px;*/
    /*padding: 0 10px;*/
    /*height: 34px;*/
}

.ac-l{
    background: white;
    color: black;
    cursor: pointer;
    width: 310px;
    border-bottom: solid 1px lightgrey;
    padding: 0 10px;
    overflow: hidden;
}

a:hover{
    text-decoration: none;
}

.ac-l:hover{
    color: #00ccff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}

.pf-row{
    padding: 20px;
    margin-bottom: 20px;
}
.pf h3, .pf h4{
    font-family: 'helvetica', serif;
}

.pf label{
    font-weight: normal;
    margin: 0;
}

.pf-ent-container{
    padding: 50px 0 0;
    width: 100%;
    position: relative;
}

.pf-ent-container ul{
    list-style-type: none;
    padding: 0 0 50px 0;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 700px;
}

.pf-ent-search{
    position: absolute;
    top: 4px;
    right: 30px;
}

.pf-ent-search input{
    width: 295px;
    border-radius: 5px;
    border: 1px solid #00ccff;
    padding: 0 10px;
}

.pf-ent-search i{
    position: relative;
    bottom: 2px;
    right: 1px;
}

.pf-ent-search-result{
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
}

div.pf-ent-result{
    color: #00ccff;
    display: inline-flex;
    margin: 10px;
    padding: 3px 8px;
    box-shadow: 0 0 5px grey;
    background: white;
    font-family: roboto-bold, serif;
}

li.pf-ent{
    display: inline-flex;
    margin: 10px;
    padding: 3px 8px;
    box-shadow: 0 0 5px grey;
}

li.pf-ent.hide{
    display: none;
}

li.pf-ent:hover{
    color: #00ccff;
}

li.pf-ent label{
    font-family: roboto-bold, serif;
}

.pf-pad-top{
    padding-top: 30px;
}
.pf-pad-top-sm{
    padding-top: 7px;
}

.pf-marg-bottom{
    margin-bottom: 20px;
}

.no-pad{
    padding: 0;
}

.pf-marg-right{
    margin-right: 15px;
}

.pf-row label, .pf-row span{
    font-size: 15px;
}

.posted{
    padding: 30px;
}

.posted p{
    font-size: 18px;
}

.sidebar-counts ul{
    list-style-type: none;
}

.main-header{
    min-height: 50px;
}

.main-header-navbar{
    height: 150px;
    position: relative;
}

.main-header-navbar #navbar-search{
    position: absolute;
    bottom: 30%;
    right: 42px;
}

#navbar-logo #img-logo{
    width: 224px;
}
#navbar-logo #text-logo{
    padding-top: 20px;
}



.header-links{
    height: 30px;
    position: relative;
}

.header-links .links{
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 10000;
}

.header-links .link{
    margin-right: 10px;
}

.box-item-details{
    padding: 0;
}

.box-item-details p{
    font-size: 14px;
}

.offer-social-button{
    position: relative;
    height: 35px;
}

.offer-social-button li{
    list-style: none;
    float: left;
    position: relative;
    margin-right: 10px;
}