
body {
    /*scrollbar-face-color: rgb(60,60,60);*/
}

.bj-tag-container {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.bj-tag-container:hover {
    opacity: 0.5;
}

.bj-tag-body {

}

.bj-info-btn-group {
    margin-top: 20px;
}

.bj-track-cnt {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bj-tag-container {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.bj-tag-container:hover {
    opacity: 0.5;
}

.bj-tag-body {

}

.header-social-list li {
    display: inline-block
}

.panel-right {
    padding: 20px 0 0 24px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .panel-right{
        max-width:300px;
    }

    .panel-right div, .panel-right ul{
        padding: 0;
    }

}

.panel-right .panel-body{
    padding: 0;
}

.panel-right .panel {
    text-align: center;
}

.panel-left {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 50px;
}

.panel-block {
    padding-top: 10px;
}

.panel-header-large {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.table-header {
    font-size: 14px;
}

.td-heavy {
    color: black;
    /*font-weight: bold;*/

}

.first {
    z-index: 100;
    background-color: #3C3C3C;
}

.text-underline {
    text-decoration: underline;
}

.text-small {
    font-size: 15px;
}

.radio-inline {
    display: inline-block;
    padding-right: 20px;
}

.padding-large {
    padding: 40px;
}

.text-green {
    color: darkgreen;
}

.lf-panel{
    margin-bottom: 60px;
}

.sticky-bottom {
    width: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    height: 50px;
    background-color: #cccccc;
}

.sticky-bottom:hover{
    background-color: #69dffd;
    border-color: #69dffd;
}

.padding-side {
    padding-left: 20px;
    padding-right: 20px;
}

.alpha-list{
    padding: 0;
    position: relative;
    right: 22px;
}

.alpha-list li {
    display: inline-block;
    margin-right: 10px;
    /*font-weight: bold;*/
    font-size: 14px;
}

.alpha-list-content li {
    display: inline-block;
    /*margin-right: 10px;*/
    font-weight: bold;
    font-size: 14px;

}

.alpha-sub-list {
    padding-left: 0;
}

.alpha-sub-list li {
    display: list-item;
    list-style: none;
    margin-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.alpha-list-item {
    border-left-style: solid;
    border-width: 1px;
}

.link-footer {
    font-size: 14px;
}

.table tr {
    font-size: 14px;
}

.main-footer .link-footer li {
    font-weight: bold;
}

.box-ic-center {
    font-size: 18px;
}

.box-ic-center a.btn.btn-sm.btn-pill.btn-theme.btn-line.dark {
    font-size: 16px;
}

.bg-color2 textarea {
    font-size: 17px;
}
.bg-color2 input.form-control {
    font-size: 17px;
}

.block-section.box-item-details {
    font-size: 17px;
}

a.col-md-12.col-xs-12.btn.btn-theme.btn-t-primary.btn-block-xs {
    font-size: 16px;
}

button.btn.btn-theme.btn-default.col-md-8.col-md-offset-2.col-xs-8.col-xs-offset-2 {
    font-size: 15px;
}

.inner {
    font-size: 16px;
}

.col-md-9.col-md-offset-1.text-center {
    font-size: 17px;
}

.col-md-9.panel-left {
    font-size: 18px;
}

.height-small {
    height: 40px;
    padding: 5px 0 0 10px;
    background: none;
    background-color: white;
}

.no-padding {
    padding: 0;
}

.select-custom {
    max-height: 100px;
    overflow-x: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.select-custom li {
    background-color: snow;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 20px;
    margin: 0 0 3px 0;
}
.select-custom li span{
    cursor: pointer;
}

.ent-close{
    margin: 5px 10px 5px 5px;
    cursor: pointer;
    color: maroon;
    visibility: hidden;
}

.main-footer .link-footer{
    text-align: right;
    list-style-type: none;
}

.l-overlay-container{
    position: relative;
    min-height: 400px;
    background: transparent;
    padding: 30px;
}
.l-overlay-container-small{
    margin-left: 30px;
}

.l-overlay{
    position: absolute;
    top: 39%;
    left: 10%;
}

.l-overlay-header{
    color: #00ccff;
    font-size: 80px;
}

.l-overlay-body{
    color: white;
    font-size: 28px;
    margin-top: 13px;
    line-height: 32px;
}

.like-div{
    border-width: 1px;
    margin-bottom: 19px;
}
.like-div:last-child{
    margin-bottom: 0;
}
.panel-heading-small{
    font-size:18px;
    height:50px;
    padding-top:10px;
}