{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}


{% block body %}

    <div id="overlay-container" class="row l-overlay-container l-overlay-container-small hidden-xs"
         data-parallax="scroll"
         data-image-src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-contact-a-propos.png') }}">
        {#<img class="col-xs-12 col-md-12" src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-'~ type|lower ~'s.png') }}" />#}

        <div class="l-overlay col-xs-10">
            <span class="l-overlay-header f-r-b" style="font-size: 50px;font-weight: 900;">Un Job dans la Pub </span>

            <p class="l-overlay-body f-r-bn"> Le 1er site web des offres d’emploi en agence de publicité et chez
                l’annonceur. </p>
        </div>
    </div>

    <!-- Block -->
    <div class="panel panel-default panel-block panel-no-border" style="box-shadow: none;">
        <div class="panel-header">
            <span class="panel-header-large"></span>
        </div>
        <div class="panel-body padding-large panel-no-border text-justify" style="font-size: 16px">

            <p style="font-family: 'Helvetica Neue';font-size:24px;font-weight:bold;">
                Retrouvez chaque jour sur <span class="f-h-bb">unjobdanslapub.fr</span> : toutes les offres d’emploi à pourvoir
                actuellement
                dans les agences de communication ou chez les marques.
            </p>

            <div class="white-space-20"></div>

            <p>
                <span class="f-h-bb">Alternances, CDD, CDI, freelances, stages… </span> Tous les types de contrats sont
                répertoriés,
                <span class="f-h-bb">pour aider tous les publicitaires français à trouver l’emploi qui leur convient :</span>
                qu’ils soient étudiants, freelances, à la recherche d’un 1er emploi ou bien déjà en poste.
            </p>

            <p>
                Réalisé de manière à ce que vos recherches soient simples, intuitives et rapides,
                <span class="f-h-bb">Un Job dans la Pub est également le seul site web d’offres d’emploi spécialisée dans la
                    publicité
                    100% gratuit, </span>
                tant pour les recruteurs que pour les candidats.
            </p>

            <div class="white-space-20"></div>
            <div class="white-space-20"></div>

            <h1 class="f-r-bb" style="font-size: 32px;font-family: roboto-black;">Contact </h1>

            <p>
                Recommandation d’optimisation, question sur une offre d’emploi, idée de partenariat, problème
                d’affichage sur le site, vous souhaitez diffuser une publicité sur le site…
            </p>

            <div class="white-space-20"></div>
            <p>
                <span class="f-h-bb">Tous vos mails sont les bienvenus </span> à cette adresse :<br>
                <span style="font-size: 24px"><span class="f-h-bb">matthieu@unjobdanslapub.fr</span></span>
            </p>


            <div class="white-space-20"></div>
            <div class="white-space-20"></div>

            <p class="text-large  text-right" style="font-size: 12px">
                Création : <span class="f-h-bb">Matthieu ETIENNE</span><br>
                Développement : <span class="f-h-bb">Arjun CHATTERJEE</span>
            </p>
        </div>
    </div>
    <!-- End Block -->


{% endblock %}