{# DEPRECIATED #}

{% extends '::layout.html.twig' %}

{% block header %}

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- logo -->
                <div class="logo text-center-sm">
                    <a href="{{ path('bj_front_homepage') }}">
                        <img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-8 text-center" style="color:white">

                <div class="white-space-20"></div>
                <div class="white-space-20"></div>
                <div class="white-space-20"></div>
                <h1> Our Companies </h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!-- pagination -->
                    <nav>
                        <ul class="pager">
                            <li class="previous" style="cursor:pointer;">
                                {% if settings.paginate-1 > -1 %}
                                    <a href="{{ path('bj_enterprise_listing',
                                    {'paginate':settings.paginate-1}) }}">
                                        <span aria-hidden="true">&larr;</span>
                                        <span>Previous</span>
                                    </a>
                                {% else %}
                                    <a style="cursor:not-allowed;">
                                        <span aria-hidden="true">&larr;</span>
                                        <span>Previous</span>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="next" style="cursor:pointer;">
                                {% if settings.enterprises|length > 0 %}
                                    <a href="{{ path('bj_enterprise_listing',
                                    {'paginate':settings.paginate+1}) }}">
                                        <span>Next</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                {% else %}
                                    <a style="cursor:not-allowed;">
                                        <span>Next</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <!-- pagination -->

                    <!-- item list -->
                    <div class="box-list">
                        {% include 'BJFrontBundle:Platform/Components:enterprise_container.html.twig' %}
                    </div>
                    <!-- END item list -->

                    <!-- pagination -->
                    <nav>
                        <ul class="pager">
                            <li class="previous" style="cursor:pointer;">
                                {% if settings.paginate-1 > -1 %}
                                    <a href="{{ path('bj_enterprise_listing',
                                    {'paginate':settings.paginate-1}) }}">
                                        <span aria-hidden="true">&larr;</span>
                                        <span>Previous</span>
                                    </a>
                                {% else %}
                                    <a style="cursor:not-allowed;">
                                        <span aria-hidden="true">&larr;</span>
                                        <span>Previous</span>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="next" style="cursor:pointer;">
                                {% if settings.enterprises|length > 0 %}
                                    <a href="{{ path('bj_enterprise_listing',
                                    {'paginate':settings.paginate+1}) }}">
                                        <span>Next</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                {% else %}
                                    <a style="cursor:not-allowed;">
                                        <span>Next</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <!-- pagination -->


                </div>
                <div class="col-md-3">
                    {# Filters #}
                    {# END Filters#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}