{% extends '::layout.html.twig' %}

{% block header %}

    {#<div class="container-fluid">#}
        {#<div class="row">#}

            {#<div class="col-xs-12 text-justify ent-container" style="">#}

                {#<div class="white-space-20"></div>#}
                {#<h1 class="f-r-b">{{ settings.enterprise.name }}</h1>#}
                {#<p>#}
                    {#{{ settings.enterprise.description }}#}
                {#</p>#}
                {#<p style="font-size: 14px;">Vous souhaitez modifier votre présentation? Contactez#}
                    {#<a href="{{ path('bj_offer_contact_us') }}" class="hover-text-blue">Un Job Dans La Pub</a>#}
                {#</p>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}

{% block body %}
    <div class="">
        {#<div class="container">#}
            <div class="row">

                <div class="col-xs-12 text-justify ent-container" style="">
                    <div class="white-space-20"></div>
                    <h1 class="f-r-b" style="font-weight: bold;">{{ settings.enterprise.name }}</h1>
                    <p style="font-size: 14px">
                        {{ settings.enterprise.description }}
                    </p>
                    <p class="text-right" style="font-size: 12px;">Vous souhaitez modifier votre présentation ? <b>
                        <a href="{{ path('bj_offer_contact_us') }}" class="hover-text-blue-2">Contactez Un Job dans la Pub.</a></b>
                    </p>
                </div>


                <div class="col-md-12">
                    {# Listing of Offers #}

                    <!-- item list -->
                    <div class="box-list">
                        {% set offers = settings.offers %}
                        {% include 'BJFrontBundle:Platform/Components:offer_container.html.twig' %}
                    </div>
                    <div class="btn-list">
                        <a href="{{ path('bj_front_homepage') }}">
                            <button class="btn btn-theme btn-pill btn-header pull-right f-r-b" style="font-weight: bold;">Faire une recherche</button>
                        </a>
                        <a href="{{ path('bj_enterprise_listing',{'type': settings.enterprise.type}) }}">
                            <button class="btn btn-theme btn-pill btn-header pull-right  f-r-b" style="font-weight: bold;">Voir la liste des {{ settings.enterprise.type }}s</button>
                        </a>
                    </div>
                    <!-- END item list -->

                    {# END Listing of Offers #}
                </div>
                <div class="col-md-3">
                    {# Filters #}
                    {#{% include 'BJFrontBundle:Platform/Components:filters.html.twig' %}#}
                    {# END Filters#}
                </div>
            </div>
        {#</div>#}
    </div>

{% endblock %}