{% extends '::layout.html.twig' %}

{% block header %}


{% endblock %}

{% block body %}

    <div id="overlay-container" class="row l-overlay-container l-overlay-container-small hidden-xs" data-parallax="scroll" data-image-src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-'~ type|lower ~'s.png') }}">
        {#<img class="col-xs-12 col-md-12" src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-'~ type|lower ~'s.png') }}" />#}

        <div class="l-overlay col-xs-10">
            <span class="l-overlay-header f-r-b" style="font-weight: bold;">{{ type }}s</span>
            <p class="l-overlay-body f-r-bn"> La liste des <strong>{{ global_count }} {{ type|lower }}s</strong>
            {% if type|lower == 'agence' %}de communication {% endif %}qui ont publié des offres d'emploi sur <strong>unjobdanslapub.fr</strong></p>
        </div>
    </div>

    <!-- Block -->
    <div class="panel panel-default panel-block panel-no-border">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <ul class="alpha-list text-center">
                        {% for alphabet in alphabets %}
                            <li>
                                <a href="{{ alphabet }}" class="alphabet-trigger f-r-b hover-text-blue" style="">
                                    {{ alphabet|upper }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>

            {% set index=0 %}
            {% for r in results %}
                {% if r.enterprises|length > 0 %}

                    {% if index == 0 %}
                        <div class="row col-md-12" style="margin-bottom:35px;">
                            <div class="col-md-12">
                                <ul class="alpha-list-content">
                    {% endif %}
                                    <li class="col-md-4 col-sm-4 col-xs-12" id="{{ r.a }}">
                                        <h4 class="f-r-b alp" style="">{{ r.a|lower }}</h4>
                                        <ul class="alpha-sub-list">
                                            {% for e in r.enterprises %}
                                                <li>
                                                    <a class="hover-text-blue" href="{{ path('bj_enterprise_offer_details',{'id':e.id, 'name':e.name|replace_whitespce }) }}">
                                                        {{ e.name }}
                                                        {% set count = r.count %}
                                                        {% if count[e.id] != '0' %}
                                                            ({{ count[e.id] }})
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                    {% if index == 2 %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if index < 2 %}
                        {% set index = index + 1 %}
                    {% else %}
                        {% set index = 0 %}
                    {% endif %}

                {% endif %}

                    {% if (index != 0) and (loop.index == results|length) %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}

        </div>
    </div>
    <!-- End Block -->

<script>
    $('.alphabet-trigger').click(function(e){
        e.preventDefault();
        var target = $('#'+$(this).attr('href'));
        var position = target.parent().parent().parent().position();
        $("html, body").animate({ scrollTop: position.top+"px" });
    });
</script>


{% endblock %}