{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}


{% block body %}

    {# FORM #}
    {% include 'BJFrontBundle:Platform/Form:landing_form.html.twig' %}
    {# END FORM #}

    {# Block Lists #}
    {% for list in settings.results %}
        {% if list.contract != null %}

            <!-- Block -->
            <div class="panel panel-default panel-block panel-no-border lf-panel">
                <div class="panel-header">
                                <span class="panel-header-large f-r-bb">
                                    OFFRES D'EMPLOI EN <span style="color:#00ccff">{{ list.contract|upper }}</span>
                                </span>
                </div>
                <div class="panel-body" style="position:relative;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="table-header col-md-1 col-xs-1 f-r-b">PUBLICATION</th>
                            <th class="table-header col-md-2 col-xs-2 f-r-b">ENTREPRISE</th>
                            <th class="table-header col-md-5 col-xs-4 f-r-b">POSTE</th>
                            <th class="table-header col-md-2 col-xs-3 f-r-b">VILLE</th>
                            <th class="table-header col-md-2 col-xs-2 f-r-b">ANNONCE</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% set offers = list.offers %}
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.createdAt|date('d.m.y') }}</td>
                                <td class="td-heavy hover-text-blue">
                                    <a href="{{ path('bj_enterprise_offer_details',{'id': offer.enterprise.id,'name':offer.enterprise.name|replace_whitespce }) }}">
                                        {{ offer.enterprise.name }}
                                    </a>
                                </td>
                                <td>{{ offer.title }}</td>
                                <td>{{ offer.address.city|shorten(10) }} ({{ offer.address.postal|shorten(2) }})</td>
                                <td class="hover-text-blue td-heavy">
                                    <a href="{{ path('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                                       class=""> VOIR L'ANNONCE</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('bj_offer_listing.contract', {'contract':list.contract}) }}">
                        <button class="btn btn-default sticky-bottom f-r-b" style="font-size:18px;">
                            Voir toutes les offres d’emploi en
                            {% if list.contract|lower == 'cdi' or list.contract|lower == 'cdd' %}
                                 {{ list.contract|upper }}
                            {% else %}
                                {{ list.contract|lower }}
                            {% endif %}
                        </button>
                    </a>

                </div>
            </div>
            <!-- End Block -->
        {% endif %}
    {% endfor %}
    {# END Block Lists #}


{% endblock %}