{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}

{% block body %}


    <div class="bg-color2">
            <div class="row">
                <div class="col-md-12" style="padding-left: 30px;">
                    {# Offers Details #}
                    {% include 'BJFrontBundle:Platform/Components:offer_details.html.twig' %}
                    {# END Offers Details #}
                </div>
                {# TODO What to do with apply ??#}
                {#<div class="col-md-3">#}
                    {#{% include 'BJFrontBundle:Platform/Components:offer_actions.html.twig' %}#}
                {#</div>#}
            </div>
    </div>



    {# Map #}
    {% include 'BJFrontBundle:Platform/Components:offer_details_map.html.twig' %}
    {# END Map #}

    {# Modal Email #}
    {% include 'BJFrontBundle:Platform/Modal:offer_apply.html.twig' %}
    {# END Modal Email #}


{% endblock %}