{% extends '::layout.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="">
        <div class="padding-side">
            <div class="row">
                <div class="col-md-12">
                    {# Listing of Offers #}
                    {% include 'BJFrontBundle:Platform/Components:offer_listing.html.twig' %}
                    {# END Listing of Offers #}
                </div>
            </div>
        </div>
    </div>


{% endblock %}