{% extends '::layout.html.twig' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            <a href="#">
                <img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">
            </a></div>
    </div>

{% endblock %}


{% block body %}

    <div class="bg-color2 block-section line-bottom">
        <div class="container">
            <h1 class="text-center no-margin">Publier une offre</h1>
        </div>
    </div>

    {# Form Post Job #}
    {% include 'BJFrontBundle:Form:post_offer.html.twig' %}
    {# END Form Post Job #}


{% endblock %}