<div class="row">
    <div class="col-md-3 col-md-offset-9" style="margin-top:10px;margin-bottom:20px">
        <form class="form-inline" action="{{ path('user.admin.super.dashboard.list.filter') }}" method="get">
            <div class="form-group">
                <label for="exampleInputName2">filter by enterprise: </label>
                <select class="form-control" name="enterprise">
                    <option value=""></option>
                    {# TODO what the fuck happened here ? #}
                    {% for enterprise in options.enterprises %}
                        <option value="{{ enterprise.name }}">{{ enterprise.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Filter</button>
        </form>
    </div>

</div>
