
<div class="block-section box-side-account">

    <h3 class="no-margin-top"> Détails d'enterprise  </h3>

    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-10">
                {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'Name of Enterprise' }}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Type d'enterprise</label>
            <div class="col-sm-10">
                {{ form_widget(form.type,{'attr':{'class':'form-control','placeholder':'type' }}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Description' }}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Mettre à jour </button>
            </div>
        </div>
    {{ form_end(form) }}

    <div class="white-space-20"></div>
    <div class="white-space-20"></div>

    <div class="col-md-5">
        <a href="{{ path('user.enterprise.dashboard.view.enterprise',{'count':settings.count}) }}">
        <button class="btn btn-default btn-lg btn-block"> Retourner aux offres </button>
        </a>
    </div>


</div>
