{# DEPRECIATED #}

<div class="white-space-20"></div>
<div class="h3st-group-item" style="position:relative">
    <div class="bj-track-cnt">
        <a href="{{ path('user.enterprise.dashboard.edit.enterprise',{'count':settings.count}) }}">
        <button class="btn btn-primary bj-track-action"> Modifier </button>
        </a>
    </div>
    {% set ent = settings.enterprise %}
    <div class="panel panel-default" style="margin-bottom:5px;">
        <div class="panel-body" style="padding-top:26px;">
            <h3>{{ ent.name }}</h3>
            <p>{{ ent .description }}</p>
        </div>
    </div>
</div>

<div class="block-section box-side-account" style="position:relative;">

    <h3 class="no-margin-top">Mes offres </h3>
    <hr/>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>titre</th>
                <th>statut</th>
                {#<th>tags <i class="fa fa-tag"></i> </th>#}
                <th>contrat</th>
                <th class="text-right">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in settings.offers %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ offer.title }}</td>
                <td class="text-center">
                    {% if offer.tracker.authorised %}
                        <i class="fa fa-check" data-toggle="tooltip" data-placement="bottom" title="This offer has been authorised"></i>
                    {% else %}
                        <i class="fa fa-times" data-toggle="tooltip" data-placement="bottom" title="This offer is yet to be authorised"></i>
                    {% endif %}
                </td>
                <td>{{ offer.type }}</td>
                <td class="text-right">
                    <a target="_blank" href="{{ path('bj_offer_details',{'id':offer.id,'title':offer.title|replace_whitespce }) }}"
                       class="btn btn-theme btn-xs btn-default">Voir</a><br>
                    <a href="{{ path('user.enterprise.dashboard.edit.offer',{'count':settings.count,'offerCount':loop.index-1}) }}"
                       class="btn btn-theme btn-xs btn-default">Modifier</a><br>
                    <a href="{{ path('user.enterprise.dashboard.remove.offer',{'count':settings.count,'offerCount':loop.index-1}) }}"
                       class="btn btn-theme btn-xs btn-default">Supprimer</a><br>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

