{# DEPRECIATED #}

<div class="block-section box-side-account">

<h3 class="no-margin-top"> Additional Details </h3>

{{ form_start(formC,{'attr':{'class':'form-horizontal'}}) }}

<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Type of Contract</label>
    <div class="col-sm-10">
        {{ form_widget(formC.title,{'attr':{'class':'form-control','placeholder':'' }}) }}
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Min Salary</label>
    <div class="col-sm-10">
        {{ form_widget(formC.salStart,{'attr':{'class':'form-control','placeholder':'' }}) }}
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Max Salary</label>
    <div class="col-sm-10">
        {{ form_widget(formC.salEnd,{'attr':{'class':'form-control','placeholder':'' }}) }}
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        {{ form_widget(formC.update,{'attr':{'class':'btn btn-primary','placeholder':'Update' }}) }}
    </div>
</div>


{{ form_end(formC) }}

</div>