{# Depreciated #}

<div class="block-section box-side-account">
    <h3 class="no-margin-top"> Offer Summary </h3>

    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}

    <div class="form-group">
        <label for="" class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
            {{ form_widget(form.title,{'attr':{'class':'form-control','placeholder':'Title of Offer' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Description' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-2 control-label">Mission</label>
        <div class="col-md-10">
            {{ form_widget(form.mission,{'attr':{'class':'form-control','placeholder':'Mission' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-2 control-label">Profile</label>
        <div class="col-md-10">
            {{ form_widget(form.profile,{'attr':{'class':'form-control','placeholder':'Profile' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-3 col-xs-2 control-label">Date Start</label>
        <div class="col-md-3 col-xs-4">
            <div class="radio">
                <label>
                    {{ form_widget( form.asap ) }}
                    As soon as possible
                </label>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="radio">
                <label>else, precised date: </label>
                {{ form_widget( form.dateStart) }}
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="" class="col-md-3 control-label">Duration</label>
        <div class="col-md-9">
            <div class="">
                <div class="" style="display:inline-block;margin-right:7px;">
                    {{ form_widget(form.duration.0, {'attr':{'checked':'checked'}} ) }}
                    <label for="">3 Months</label>
                </div>
                <div class="" style="display:inline-block;margin-right:7px;">
                    {{ form_widget(form.duration.1) }}
                    <label for="">4 Months</label>
                </div>
                <div class="" style="display:inline-block;margin-right:7px;">
                    {{ form_widget(form.duration.2) }}
                    <label for="">6 Months</label>
                </div>
                <div class="" style="display:inline-block;margin-right:7px;">
                    {{ form_widget(form.duration.3) }}
                    <label for="">6+ Months</label>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="" class="col-md-3 control-label">Post</label>
        <div class="col-md-9">
            {{ form_widget(form.post,{'attr':{'class':'form-control' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-3 control-label">Contract Type</label>
        <div class="col-md-9">
            {{ form_widget(form.type,{'attr':{'class':'form-control' }}) }}
        </div>
    </div>


    <div class="form-group">
        <label for="" class="col-md-3 control-label">Salary</label>
        <div class="col-md-9">
            {{ form_widget(form.salary,{'attr':{'class':'form-control','placeholder':'Salary' }}) }}
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-3 control-label">Privacy Options</label>

        <div class="col-md-8" style="background-color:white;border: 1px solid #ccc;margin-left:15px;padding-top:7px;padding-bottom:15px;">
            <div class="radio">
                <label>
                    {{ form_widget( form.privacy.0 ) }}
                    <strong> Public </strong> : Every one has access to the offer
                </label>
            </div>
            <div class="radio">
                <label>
                    {{ form_widget( form.privacy.1 ) }}
                    <strong> Private </strong> : Visible only by direct URL
                </label>
            </div>
        </div>
    </div>

    <div class="white-space-20"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.update,{'attr':{'class':'btn btn-primary col-sm-12','placeholder':'Update' }}) }}
        </div>
    </div>

    {{ form_end(form) }}

    <div class="white-space-20"></div>
    <div class="white-space-20"></div>

    <div class="col-md-5">
        <a href="{{ path('user.enterprise.dashboard.view.enterprise',{'count':settings.count}) }}">
            <button class="btn btn-default btn-lg btn-block"> Back To Offers </button>
        </a>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#platform-nav').attr('class','col-md-2 col-sm-3');
        $('#bj_corporate_offer_privacy').parent().css('display','none');
        $('#bj_corporate_offer_duration').parent().css('display','none');
    });
</script>
