<div class="white-space-20"></div>
<div class="white-space-20"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vos Enterprises</h3>
    </div>
    <div class="panel-body">
        {% for ent in settings.user.enterprises %}

            <div class="h3st-group-item">
                <div class="panel panel-default" style="margin-bottom:5px;">
                    <div class="panel-body" style="padding-top:26px;position:relative">
                        <div class="bj-track-cnt">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="{{ path('user.enterprise.dashboard.view.enterprise',{'count':loop.index-1}) }}"> Voir Offres </a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('user.enterprise.dashboard.edit.enterprise',{'count':loop.index-1})  }}"> Modifier </a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('user.enterprise.dashboard.remove.enterprise',{'count':loop.index-1})  }}"> Supprimer </a></li>
                            </ul>
                        </div>
                        </div>
                        <h3>{{ ent.name }}</h3>
                        <p>{{ ent .description }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


</div>

<a href="{{ path('user.enterprise.dashboard.new.enterprise') }}">
    <button class="btn btn-success"> Nouvelle Enterprise </button>
</a>
<div class="" style="position:relative;top:10px">
    <a href="{{ path('bj_post_quick_offer') }}">
        <button class="btn btn-success bj-track-action"> Nouvelle offre </button>
    </a>
</div>


<div class="white-space-20"></div>

