{# DEPRECIATED #}
{{ form_widget(form.tags) }}

<style>
    .span-editable{
        overflow: hidden;
    }

</style>
<div class="row">
    <div class="panel panel-default text-right" id="bj-tags-container" style="display:block">
        <div class="panel-body" id="bj-tags-list">
            {% set tags = settings.offer.tags|json_decode %}
            {% for tag in tags %}
                <div class="bj-tag-container">
                    <div class="bj-tag-body pull-right" data-toggle="tooltip" data-placement="bottom" title="click to remove">
                        {{ tag }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="panel panel-default text-left" style="margin-bottom:0">
            <div class="panel-body">
                <p>
                    <span id="form-simple-tag" class="form-control span-editable" contenteditable="true" >
                        <span style="color:lightgrey">Enter your tags here</span>
                    </span>
                </p>
                <p>
                    <strong>Describe your offer</strong><br>
                    Add as many tags as you like, help applicants find their perfect job<br>
                    example: php informatics html web
                </p>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        var simpleTagInput = $('#form-simple-tag');
        simpleTagInput.formTagCompleter({
            container:$('#bj-tags-container'),
            list:$('#bj-tags-list'),
            array:$('#bj_corporate_offer_tags'),
            form:$('#bj-tag-form'),
            display:true,
            already_exist:true
        });
        simpleTagInput.on('focus',function(){
            $(this).html('');
        });
        simpleTagInput.on('focusout',function(){
           $(this).html('<span style="color:lightgrey">Enter your tags here</span>');
        });
    });

</script>
