{# DEPRECIATED #}

<!-- modal email -->
<div class="modal fade" id="modal-email">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form>
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Send this job to yourself or a friend:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>From my email address</label>
                        <input type="email" class="form-control "  placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>To email address</label>
                        <input type="email" class="form-control "  placeholder="Enter Email">
                    </div>

                    <div class="form-group">
                        <label>Comment (optional)</label>
                        <textarea class="form-control" rows="6" placeholder="Something Comment"></textarea>
                    </div>
                    <div class="checkbox flat-checkbox">
                        <label>
                            <input type="checkbox">
                            <span class="fa fa-check"></span>
                            Send a copy to my email address?
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btn-theme">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal email-->