<!-- modal apply -->
<div class="modal fade" id="modal-apply">
    <div class="modal-dialog ">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title f-r-b" style="font-weight: bold;font-size: 24px;">Postuler à cette offre</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Prénom</label>
                    {{ form_widget(form.firstName,{'attr':{'class':'form-control','placeholder':'Entrez votre prénom'}}) }}
                </div>
                <div class="form-group">
                    <label>Nom</label>
                    {{ form_widget(form.lastName,{'attr':{'class':'form-control','placeholder':'Entrez votre nom'}}) }}
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Entrez votre adresse email'}}) }}
                </div>
                <div class="form-group">
                    <label>Pourquoi vous choisir ?</label>
                    {{ form_widget(form.text,{'attr':{'class':'form-control', 'rows':'6',
                        'placeholder': 'Écrivez en quelques mots pourquoi vous êtes fait pour ce job'}}) }}
                </div>

                <div class="form-group">
                    <label>Votre CV</label>

                    <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-theme btn-file">
                                  Fichier {{ form_widget(form.file) }}
                                </span>
                            </span>
                        <input type="text" class="form-control form-flat" readonly placeholder=""/>
                    </div>
                    <small>Uploader mon CV (taille maximale : 5mo).</small>
                </div>
                {{ form_widget(form.offer_id,{'attr':{'value':offer.id}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success btn-theme">Envoyer ma candidature</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div><!-- end modal  apply -->
