{% extends 'BJUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{# TODO CHANGE DOMAIN TO FRENCH #}
{% block header %}

    <div class="container">
        <div class="text-center logo">
            {#<a href="#">#}
                {#<img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">#}
            {#</a>#}
        </div>
    </div>

{% endblock %}


{% block body  %}

    <!-- body-content -->
    <div class="body-content clearfix" >

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="block-section bg-color4">
            <div class="container">
                <div class="panel panel-md">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">


                                <!-- buttons top -->
                                {#<p><a href="#" class="btn btn-primary btn-theme btn-block"><i class="fa fa-facebook pull-left bordered-right"></i> Login with Facebook</a></p>#}
                                {#<p><a href="#" class="btn btn-danger btn-theme btn-block"><i class="fa fa-google-plus pull-left bordered-right"></i> Login with Google</a></p>#}

                                {#<div class="white-space-10"></div>#}
                                {#<p class="text-center"><span class="span-line">OR</span></p>#}
                                <!-- end buttons top -->

                                <!-- form login -->
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                    <div class="form-group">
                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                                               required="required" class="form-control" placeholder="Your Username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                        <input type="password" id="password" name="_password" required="required"
                                               class="form-control" placeholder="Your Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox flat-checkbox">
                                                    <label>
                                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                        <span for="remember_me" class="fa fa-check"></span>
                                                        {{ 'security.login.remember_me'|trans }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="help-block"><a href="#myModal" data-toggle="modal">Forgot password?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group no-margin">
                                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                                               class="btn btn-theme btn-lg btn-t-primary btn-block" />
                                    </div>
                                </form><!-- form login -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="white-space-20"></div>
                {#<div class="text-center color-white">Vous n'avez pas de compte? &nbsp;#}
                    {#<a href="{{ path('fos_user_registration_register') }}" class="link-white"><strong>Enregistrer votre entreprise</strong></a></div>#}
            </div>
        </div>


        {# Modal Forgot Password #}
            {% include 'BJUserBundle:Modal:forgot_password.html.twig' %}
        {# END Modal Forgot Password #}


    </div><!--end body-content -->




{% endblock %}