
<html>
<head>
    <style>
        body{
            text-align: center;
        }
        .body{
            width:800px;
            display: inline-block;
        }

        table{
            border-style: solid;
            border-width:1px;
            border-color:grey;
            padding: 5px;
            width:100%;
        }
        th{
            width:8%;
            color:grey;
            text-decoration: underline;
        }
        td{
            text-align: left;
        }

        .custom_row a{
            color:black;
            text-decoration: none;
        }

        .link{
            text-decoration: underline;
        }

        .padding-right{
            padding-right:10px;
        }

    </style>
</head>
<body>

<div class="body">
    <h3 class="list-header">
        Offres correspondant à votre profile
    </h3>

    <table>
        <thead>
        <tr>
            <th>DIFFUSION</th>
            <th>AGENCE</th>
            <th style="width:25%;">POSTE</th>
            <th style="width:12%;">VILLE</th>
            <th style="width:12%;">ANNOUNCE</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr class="custom_row">
                <td>{{ offer.createdAt|date('d-m-Y') }}</td>
                <td class="td-heavy bold">
                    <a href="{{ url('bj_enterprise_offer_details',{'id': offer.enterprise.id,'name':offer.enterprise.name|replace_whitespce }) }}">
                        {{ offer.enterprise.name }}
                    </a>
                </td>
                <td class="padding-right">{{ offer.title }}</td>
                <td>{{ offer.address.city}} ({{ offer.address.postal }})</td>
                <td><a href="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}"
                       class="link" style="text-decoration:underline;">   VOIR L'ANNONCE</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>





</body>
</html>