<html>
<head>
    <style>
        {{ style }}
        body{
            font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
        }
        .custom_row{
            border-bottom-style: solid;
            border-width: 1px;
            border-color: grey;
            height: 32px;
        }
    </style>
</head>
<body>


<!-- wrapper page -->
<div class="wrapper">

    <!-- main-header -->
    <header class="main-header">
    </header>
    <!-- end main-header -->


    <div class="body-content clearfix" >

        <!-- main-body -->

        <div class="container">
            <div class="row">
                <!-- box item details -->
                <div class="block-section box-item-details">

                    <!-- Bout Company-->
                    <div class="title" style="padding-top:10px;text-align:center">
                        <h3 id="cp-about"> Offres correspondant à votre profile</h3>
                    </div>

                    <div style="padding:10px;">

                        {% include ':Newsletters:offer_container.html.twig' %}

                    </div>

                </div><!-- end box item details -->

            </div>
        </div>

        <!-- end main-body -->

    </div>


</div><!-- end wrapper page -->


</body>
</html>
