
<!-- Block -->
<div class="panel panel-default panel-block">
    <div class="panel-body" style="position:relative;">
        <table class="table">
            <thead>
            <tr>
                <th class="table-header col-md-1 col-xs-1">DIFFUSION</th>
                <th class="table-header col-md-2 col-xs-2">AGENCE</th>
                <th class="table-header col-md-5 col-xs-4">POSTE</th>
                <th class="table-header col-md-2 col-xs-3">VILLE</th>
                <th class="table-header col-md-2 col-xs-2">ANNONCE</th>
            </tr>
            </thead>
            <tbody>

            {% for offer in offers %}
                <tr class="custom_row">
                    <td>{{ offer.createdAt|date('d-m-Y') }}</td>
                    <td class="td-heavy">
                        <a href="{{ url('bj_enterprise_offer_details',{'id': offer.enterprise.id,'name':offer.enterprise.name|replace_whitespce }) }}">
                            {{ offer.enterprise.name }}
                        </a>
                    </td>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.address.city}} ({{ offer.address.postal }})</td>
                    <td><a href="{{ url('bj_offer_details', {'id': offer.id,'title':offer.enterprise.name|replace_whitespce } ) }}" class="">   VOIR L'ANNONCE</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- End Block -->
