{% extends 'BJUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

    <div class="container">
        <div class="text-center logo">
            {#<a href="#">#}
                {#<img src="{{ asset('bundles/app//theme/images/logo.png') }}" alt="">#}
            {#</a>#}
        </div>
    </div>

{% endblock %}


{% block body  %}

    <!-- body-content -->
    <div class="body-content clearfix" >

        <div class="block-section bg-color4">
            <div class="container">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- form Regisiter -->
                                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                                    {{ form_row(form._token) }}

                                    {#<div style="text-align:center">#}
                                        {#<h2>Who are you ? </h2>#}
                                    {#</div>#}
                                    {#<div class="white-space-10"></div>#}
                                    {#<div class="row text-center">#}
                                        {#<div class="col-md-2"></div>#}
                                        {#<div class="col-md-8">#}
                                            {#<div class="col-sm-6 col-md-6">#}
                                                {#<div class="thumbnail">#}
                                                    {#<img src="{{ asset('bundles/app/theme/images/client.png') }}" alt="..." style="height:300px">#}
                                                    {#<div class="caption">#}
                                                        {#<h3>Applicant ?</h3>#}
                                                        {#<p>You are looking for a job</p>#}
                                                        {#<p><input class="input-radio" type="radio" name="type" value="client" placeholder="" required="required"/> Select to Confirm</p>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="col-sm-6 col-md-6">#}
                                                {#<div class="thumbnail">#}
                                                    {#<img src="{{ asset('bundles/app/theme/images/enterprise.png') }}" alt="..." style="height:300px">#}
                                                    {#<div class="caption">#}
                                                        {#<h3>Employer ?</h3>#}
                                                        {#<p>You want to post your job offers </p>#}
                                                        {#<p><input class="input-radio" type="radio" name="type" value="enterprise" placeholder=""/> Select to Confirm</p>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}

                                        {#</div>#}
                                        {#<div class="col-md-2"></div>#}
                                    {#</div>#}

                                    <input class="input-radio" type="hidden" name="type" value="enterprise" />


                                    <div class="white-space-20"></div>
                                    <div style="text-align:center">
                                        <h2>Vos détails</h2>
                                    </div>
                                    <div class="white-space-10"></div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.firstName) }}
                                                {{ form_widget(form.firstName ,{'attr':{'class':'form-control', 'placeholder': 'Your first name'  }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.lastName) }}
                                                {{ form_widget(form.lastName ,{'attr':{'class':'form-control', 'placeholder': 'Your last name'  }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.username) }}
                                                {{ form_widget(form.username ,{'attr':{'class':'form-control', 'placeholder': 'Your username'  }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.email) }}
                                                {{ form_widget(form.email ,{'attr':{'class':'form-control', 'placeholder': 'Your email'  }}) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.plainPassword.first ) }}
                                                {{ form_widget(form.plainPassword.first , {'attr': {'class': 'form-control', 'placeholder': 'Enter password', 'required': 'required'}}) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.plainPassword.second ) }}
                                                {{ form_widget(form.plainPassword.second , {'attr': {'class': 'form-control', 'placeholder': 'Enter password again', 'required': 'required'}}) }}
                                            </div>

                                            <div class="white-space-10"></div>
                                            <div class="form-group no-margin">

                                                <input type="submit" value="{{ 'registration.submit'|trans }}"
                                                       class="btn btn-theme btn-lg btn-t-primary btn-block"/>

                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="white-space-20"></div>

                                    {{ form_widget(form.type) }}
                                </form><!-- form Register -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="white-space-20"></div>
                <div class="text-center color-white">En enregistrant votre compte, vous agréez à nos <br/>
                    <a href="#" class="link-white"> <strong>Conditions Générales</strong></a>
                    {# <a href="#" class="link-white"><strong>Privacy Policy</strong></a> #}
                </div>

            </div>
        </div>

        <div class="block-section bg-color2">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <i class="fa fa-question fa-5x box-icon"></i>
                        <h2 class=""> Pourquoi créer un compte?</h2>
                        <hr/>
                        <p><i class="fa fa-check"></i> Gérer, modifier et créér autant d'offres </p>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end body-content -->

    <script>
        $(document).ready(function(){
            $('.input-radio').change(function(){
                console.log($(this).val());
                $('#fos_user_registration_form_type').val($(this).val());
            });
        });
    </script>


{% endblock %}