

{# Social Buttons #}

<div class="panel panel-default panel-no-border">
    <div class="panel-body">

        <div class="col-md-12 col-sm-6 col-xs-12 like-div">
            <iframe allowtransparency="true" frameborder="0" scrolling="no"
                    src="http://platform.twitter.com/widgets/follow_button.html?screen_name=UnJobdanslaPub"
                    style="width:auto; height:20px;"></iframe>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12 like-div">
            <div class="fb-page" data-href="https://www.facebook.com/unjobdanslapub" data-height="230" data-width="300"
                 data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/unjobdanslapub"><a
                                href="https://www.facebook.com/unjobdanslapub">Un Job dans la Pub</a></blockquote>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12 like-div">
            <span>Rejoignez le groupe <a href="https://www.linkedin.com/grp/home?gid=7419020" target="_blank" class="hover-text-blue"> LinkedIn <b>Un Job dans la Pub</b></a> (+5.100 membres)</span>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12 like-div hover-text-blue">
            <!-- Placez cette balise où vous souhaitez faire apparaître le gadget Bouton +1. -->
            <div class="g-plusone" data-annotation="inline" data-width="220" data-href="http://unjobdanslapub.fr"></div>
        </div>

        {# counts #}
        <div class="col-md-12 col-sm-6 col-xs-12 like-div text-left f-h-l sidebar-counts">
            <ul>
                <li><strong>CHIFFRES CLÉS</strong></li>
                <li class="hover-text-blue"><a href="{{ path('bj_front_homepage') }}">+{{ 'xxx'|count_offer }} offres d'emploi publiées</a></li>
                <li class="hover-text-blue"><a href="{{ path('bj_enterprise_listing',{'type':'Agence'}) }}">+{{ 'agence'|count_enterprise }}
                        agences référencées </a></li>
                <li class="hover-text-blue">
                    <a href="{{ path('bj_enterprise_listing',{'type':'Annonceur'}) }}">+{{ 'annonceur'|count_enterprise }}
                        annonceurs référencés </a></li>
                <li class="hover-text-blue"><a href="{{ path('bj_front_homepage') }}">+90 métiers référencées </a></li>
            </ul>


            {# social counts #}
            {#<ul>#}
                {#<li><a href="https://www.linkedin.com/grp/home?gid=7419020" target="_blank">+<span id="social-linkedin">xxx</span> membres sur#}
                        {#LinkedIn</a></li>#}
                {#<li><a href="https://twitter.com/unjobdanslapub" target="_blank">+<span id="social-twitter">xxx</span> followers sur Twitter </a></li>#}
                {#<li><a href="https://www.facebook.com/unjobdanslapub" target="_blank">+<span id="social-facebook">xxx</span> fans sur Facebook </a></li>#}
            {#</ul>#}
        </div>
        {# end counts #}


    </div>
</div>


{# TODO CHANGE LANGUAGE FOR CHIMP MAIL #}
{% if settings.newsletter is defined %}
    {# chimpmail list ids #}
    {#{% set list_ids = {'cdd': '79cf260a91', 'cdi': 'fa7987bb85', 'general':'cea85f0946' } %}#}
    {% set list_ids = {'cdd': '72d731d5ae', 'cdi': '6f73bd89a2', 'stage':'d880a59ce8', 'alternance':'9bb76004b1', 'freelance':'caeff17c9f', 'general':'cf8f98abcc' } %}
    {% set title = settings.newsletter.title|lower %}
    {% if list_ids[title] is defined %}
        {% set list_id = list_ids[title] %}
    {% else %}
        {% set list_id = list_ids['general'] %}
    {% endif %}


    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup" class="panel panel-default panel-no-border">
        <div class="panel-body">
            <form action="//llllitl.us8.list-manage.com/subscribe/post?u=c41509b49ef4cddc3cd9ad452&amp;id={{ list_id }}"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate>
                {#<input type="hidden" name="target" value="{{ settings.newsletter.target }}"/>#}
                <div id="mc_embed_signup_scroll">
                    <h2>NEWSLETTER EMPLOI</h2>

                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Adresse Mail <span class="asterisk" style="top:40px;">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                               placeholder=" recevez les mails pour {{ settings.newsletter.title }}">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_79f8d28c0c3839464e9f3e4a1_cff72b9afb" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Suscrire" name="subscribe" id="mc-embedded-subscribe"
                               class="btn btn-theme btn-success btn-block" style="width: 96%;margin:0;"></div>
                </div>
            </form>
        </div>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
{% endif %}
