<div class="row bg-color2 pf-row">

    <h3 class="f-r-b" style="font-weight: bold;font-family: roboto-bold">Secteur</h3>

    <div class="col-md-6">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="fr-secteur-1" id="optionsRadios1" value="agence" checked>
                    En agence
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="fr-secteur-1" id="optionsRadios2" value="annonceur">
                    Chez l'annonceur
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="" class="f-h-l">Activité</label>
            <select id="f-pt-1-other" class="form-control" name="f-pt-1">
                <option value="commercial" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'commercial' %} selected  {% endif %} {% endif %}>
                    COMMERCIAL
                </option>
                <option value="creation" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'creation' %} selected {% endif %}  {% endif %}>
                    CREATION
                </option>
                <option value="planning_strategique" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'planning stratégique' %} selected  {% endif %} {% endif %}>
                    PLANNING STRATÉGIQUE
                </option>
                <option value="relations publique / event" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'relations publique / event' %} selected  {% endif %} {% endif %}>
                    RELATIONS PUBLIQUES / EVENT
                </option>
                <option value="social media" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'social media' %} selected  {% endif %} {% endif %} >
                    SOCIAL MEDIA
                </option>
                <option value="technique" {% if userdata.offer is defined %} {% if userdata.offer.post|lower == 'technique' %} selected  {% endif %} {% endif %} >
                    TECHNIQUE (HTML, UX...)
                </option>
            </select>
        </div>
    </div>
</div>


<div class="row bg-color2 pf-row">

    <h3 class="f-r-b" style="font-weight: bold;font-family: roboto-bold">Titre de l'annonce</h3>

    <div class="col-md-3 col-sm-3">
        <div class="form-group">
            <label for="" class="f-h-l">Contrat</label>
            <select class="form-control" name="f-c-t" title="">
                <option value="alternance"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'alternance' %} selected  {% endif %} {% endif %}>
                    ALTERNANCE
                </option>
                <option value="cdd"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'cdd' %} selected  {% endif %} {% endif %}>
                    CDD
                </option>
                <option value="cdi"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'cdi' %} selected  {% endif %} {% endif %}>
                    CDI
                </option>
                <option value="freelance" {% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'freelance' %} selected  {% endif %} {% endif %}>
                    FREELANCE
                </option>
                <option value="stage"{% if userdata.offer is defined %} {% if userdata.offer.type|lower == 'stage' %} selected  {% endif %} {% endif %}>
                    STAGE
                </option>
            </select>
        </div>
    </div>

    <div class="col-md-1 col-sm-1 text-center pf-pad-top">
        <label>:</label>
    </div>

    <div class="col-md-3 col-sm-3 ">
        <div class="form-group">
            <label for="" class="f-h-l">Métier</label> <br>
        <input type="text" name="fr-post" class="form-control" placeholder="" required>
        </div>
    </div>

    <div class="col-md-2 col-sm-2 text-center pf-pad-top">
        <label>chez</label>
    </div>


    <div class="col-md-3 col-sm-3">
        <div class="form-group">
            <label for="" class="f-h-l">Entreprise</label> <br>
            <input type="text" name="fr-enterprise" class="form-control" placeholder="" required>
        </div>
    </div>
</div>


