{#<div class="row">#}
    {#<h4>Title</h4>#}
    {#<input type="text" class="form-control" name="f-o-t" placeholder="le titre de votre offre"#}
           {#required="required" style="background: white"#}
           {#value="{% if userdata.offer is defined %} {{ userdata.offer.title }} {% endif %}"/>#}
{#</div>#}

<div class="row bg-color2 pf-row">
    <h3 class="f-r-b" style="font-weight: bold;font-family: roboto-bold">Informations</h3>

    <div class="white-space-10"></div>

    <h4 class="f-r-bb">Description de l’entreprise</h4>
            <textarea class="form-control" name="f-o-d" rows="10" placeholder="La présentation de votre entreprise (ne donnez aucune information sur l'offre d'emploi) ..."
                      required="required" style="background: white">
                {% if userdata.offer is defined %} {{ userdata.offer.description }} {% endif %}
            </textarea>

    <div class="white-space-10"></div>
    <h4 class="f-r-bb">Missions</h4>
            <textarea class="form-control" name="f-o-d-m" rows="10" placeholder="Indiquez quelles missions seront confiées ..."
                      required="required" style="background: white">
                {% if userdata.offer is defined %} {{ userdata.offer.mission }} {% endif %}
            </textarea>

    <div class="white-space-10"></div>
    <h4 class="f-r-bb">Profil</h4>
            <textarea class="form-control" name="f-o-d-p" rows="10" placeholder="Indiquez les qualités et connaissances que vous rechercher ..."
                      required="required" style="background: white">
                {% if userdata.offer is defined %} {{ userdata.offer.profile }} {% endif %}
            </textarea>

</div>

