<div class="white-space-20"></div>
<div class="row bg-color2 pf-row">

    <div class="row pf-marg-bottom">

        <div class="col-md-3 col-xs-3">
            <h4>Début</h4>
        </div>
        <div class="col-md-3 col-xs-3">
            <div style="padding-top: 5px;">
                <input type="radio" value="asap" style="background: white"
                       name="f-d-a" required
                        {% if userdata.offer is defined %} {% if userdata.offer.asap == '1' %} checked="checked" {% endif %} {% endif %}>
                <span class="text-small">Dès que possible</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div>
                <input type="radio" value="date" name="f-d-a" style="background: white"/>
                <span class="text-small">Précise  </span>
                <input type="text" class="form-control" name="f-d-s" id="f-d-s" required="required"
                       style="display: inline-block;background: white;width: 230px;margin-left: 13px;"
                       value="{% if userdata.offer is defined %} {{ userdata.offer.dateStart|date('Y-m-d') }} {% endif %}"/>
            </div>
        </div>
    </div>

    <div class="row pf-marg-bottom">
        <div class="col-md-3 col-xs-3">
            <h4>Durée</h4>
        </div>

        <div class="col-md-9 col-xs-9">
            <div class="col-md-6 col-sm-6 col-xs-6 no-pad">
                <span class="text-small"></span>
                {#<input type="text" class="form-control" name="f-du-2"  style="background: white"/>#}
                <select name="f-du-2" class="form-control" style="max-width:180px">
                    <option value="3 moins">3 mois</option>
                    <option value="6 moins">6 mois</option>
                    <option value="1 an">1 an</option>
                    <option value="indeterminee">indéterminée</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 no-pad">
                <label>
                    <input type="checkbox" name="fr-duree-1" style="background: white" />
                    Autre
                </label>
                <input type="text" class="form-control" name="f-du-3" placeholder="" style="max-width:130px;display: inline-block;background-color: white;"/>
            </div>
        </div>
    </div>

    <div class="row pf-marg-bottom">
        <div class="col-md-3 ">
            <h4>Rémunération</h4>
        </div>
        <div class="col-md-9 no-pad">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="text" class="" name="f-c-s-1" required="required" style="padding: 6px 12px;background: white;max-width:130px"
                       value="{% if userdata.offer is defined %} {{ userdata.offer.salary }} {% endif %}"/>
                <i class="fa fa-eur"></i>

                <label class="f-h-l" style="margin-right:25px;margin-left: 20px;"></label>
                <label class="pf-pad-top-sm" style="margin-right:25px;">
                    <input type="radio" name="fr-salary-per" value="mois" required/>
                    par mois
                </label>
                <label class="">
                    <input type="radio" name="fr-salary-per" value="an"/>
                    par an
                </label>
            </div>
        </div>
    </div>

    <div class="row pf-marg-bottom">
        <div class="col-md-3 ">
            <h4>Rue</h4>
        </div>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="f-l-1" required="required" style="background: white"
                   value="{% if userdata.address is defined %} {{ userdata.address.street }} {% endif %}"/>
        </div>
    </div>


    <div class="row pf-marg-bottom">
        <div class="col-md-3 ">
            <h4>Code postal</h4>
        </div>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="f-l-4" required="required" style="background: white"
                   value="{% if userdata.address is defined %} {{ userdata.address.postal }} {% endif %}"/>
        </div>
    </div>

    <div class="row pf-marg-bottom">
        <div class="col-md-3 ">
            <h4>Ville</h4>
        </div>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="f-l-2" required="required" style="background: white"
                   value="{% if userdata.address is defined %} {{ userdata.address.city }} {% endif %}"/>
        </div>
    </div>


    <div class="row pf-marg-bottom">
        <div class="col-md-3">
            <h4>Pays</h4>
        </div>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="f-l-3" required="required" style="background: white"
                   value="{% if userdata.address is defined %} {{ userdata.address.country }} {% else %} France {% endif %}"/>
        </div>
    </div>

</div>

