<div class="row bg-color2 pf-row">

    <h3 class="f-r-b" style="font-weight: bold;font-family: roboto-bold">Pour postuler</h3>
    <div class="white-space-20"></div>

    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <input type="radio" name="privacy" value="0" checked="checked"
                   {#required="required" {% if userdata.offer is defined %} {% if userdata.offer.privacy == '0' %} checked="checked" {% endif %} {% endif %}>#}
                   required="required">
            <span style="font-size:18px">
                <strong>Je souhaite que mon adresse email <span style="color:darkgreen;font-size:18px">soit masquée</span></strong><br>
                <span style="font-size: 14px;">Les candidats m’enverront leur CV via <strong>unjobdanslapub.fr</strong> (sécurisé et confidentiel)</span>
            </span><br/><br/>

            <input type="radio" name="privacy" value="1"
                   required="required" {% if userdata.offer is defined %} {% if userdata.offer.privacy == '0' %} checked="checked" {% endif %} {% endif %}>
            <span style="font-size:18px">
                <strong>Je souhaite que mon adresse email <span style="color:orange;font-size:18px">affichée publiquement</span></strong><br>
                <span style="font-size: 14px;">Tout le monde peut la voir, je recevrai des mails directement de la part des candidats</span>
            </span>
        </div>
    </div>

</div>
