<div class="row bg-color2 pf-row">
    <h3 class="f-r-b" style="font-weight: bold;font-family: roboto-bold">Coordonnées du recruteur</h3>


    <div style="text-align: center;">
        <span style="font-size: 14px;"> <b>Privé</b> (si Un Job dans la Pub a besoin de me contacter personnellement)</span>
    </div>

    <div class="white-space-20"></div>

    <div class="row">
        <div class="col-md-3 ">
            <h4 style="position: relative;top: 7px;">Email</h4>
        </div>
        <div class="col-md-9 ">
            <input type="email" class="form-control" name="f-e" required="required" style="background: white"
                   value="{% if userdata.email is defined %} {{ userdata.email.email }} {% endif %}"/>
        </div>
    </div>

    <div class="white-space-20"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label f-h-l" style="position: relative;top: 7px;">Prénom</label>

                <div class="col-sm-10">
                    <input type="text" name="pf-contact-prenom" class="form-control" id="" placeholder=""
                           style="background: white" required="required">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label f-h-l" style="position: relative;top: 7px;">Nom</label>

                <div class="col-sm-10">
                    <input type="text" name="pf-contact-nom" class="form-control" id="" placeholder=""
                           style="background: white" required="required">
                </div>
            </div>
        </div>
    </div>


    <div class="white-space-20"></div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label f-h-l" style="position: relative;top: 7px;">Tél.</label>

                <div class="col-sm-10">
                    <input type="text" name="f-p" class="form-control" id="" placeholder=""
                           value="{% if userdata.phone is defined %} {{ userdata.phone.number }} {% endif %}"
                           style="background: white" required="required">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label f-h-l" style="position: relative;top: 7px;">Poste</label>

                <div class="col-sm-10">
                    <input type="text" name="pf-contact-poste" class="form-control" id="" placeholder=""
                           style="background: white" required="required">
                </div>
            </div>
        </div>

    </div>

    <div class="white-space-20"></div>


    {#<div class="white-space-20"></div>#}
    {#<div class="row">#}
    {#<div class="col-md-3 ">#}
    {#<h4>Email</h4>#}
    {#</div>#}
    {#<div class="col-md-9 ">#}
    {#<input type="email" class="form-control" name="email-person" required="required"#}
    {#value="{% if userdata.user is defined %} {{ userdata.user.email }} {% endif %}"/>#}
    {#</div>#}
    {#</div>#}

</div>

<div class="white-space-20"></div>
<div class="white-space-20"></div>
<input type="submit" class="form-control f-r-b" value="Publier mon offre d’emploi"
       style="background-color:#5CB85C;color:white;font-size: 24px;height:50px;"/>

<div style="height:100px;"></div>