{# DEPRECIATED #}

<!-- form get alert -->
<div class="get_alert">
    <h4>
        Get email updates for the latest jobs in
        <span style="color:cornflowerblue">{{ settings.newsletter.title }}</span>
    </h4>
    <form action="{{ settings.newsletter.path }}" method="get">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label>My Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email" required="required">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="hidden-sm hidden-xs ">&nbsp;</label>
                    <input type="hidden" name="target" value="{{ settings.newsletter.target }}"/>
                    <input type="submit" class="btn btn-theme btn-success btn-block" value="Subscribe"/>
                </div>
            </div>
        </div>
        <small>You can cancel email alerts at any time.</small>
    </form>
</div>
<!-- end form get alert -->
