<!-- Block -->
<div class="panel panel-default panel-block">
    <div class="panel-header">
        <span class="panel-header-large f-r-bb">Rechercher une offre d'emploi</span>
    </div>
    <div class="panel-body font-m">

        <form class="form-search-home" id="bj-tag-form" method="post" action="{{ path('bj_offer_listing.filter') }}">

            <div class="form-group col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="radio" value="agence" name="chez" checked="checked" required="required">
                        <span class="f-h-l">En agence</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" value="announceur" name="chez">
                        <span class="f-h-l">Chez l'annonceur</span>
                    </label>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for=""></label>
                <select class="form-control" name="contract">
                    {% for contract in settings.option.contracts %}
                        <option value="{{ contract.type|trim }}" {% if contract.type|trim|upper == 'CDI' %} selected {% endif %}>
                            {{ contract.type|trim|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for=""></label>
                <select class="form-control" name="post">
                    {% for post in settings.option.posts %}
                        <option value="{{ post.value|trim }}">{{ post.post|trim|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for=""></label>
                <input id="btn-landing-form-search" type="submit" style="font-size: 18px;height: 42px;"
                       class="form-control btn btn-t-primary btn-theme btn-pill btn-block f-r-b" value="Chercher"/>
            </div>
            <input type="hidden" name="iteration" value="0"/>
        </form>


    </div>
</div>
<!-- End Block -->