{# DEPRECIATED #}

<!-- form search -->
<form class="form-search-list" id="bj-tag-form" method="get" action="{{ path('bj_offer_listing') }}">
    <!-- Tag Design  -->
    {% include 'BJFrontBundle:Platform/Form:tags_container.html.twig' %}
    <!-- End Tag Design -->

    <div class="row">
        <div class="col-sm-5 col-xs-6 ">
            <div class="form-group">
                <label class="color-white">What</label>
                <input class="form-control" placeholder="what are you looking for ?" id="form-simple-tag" />
                <input id="bj-tag-array" value="[]" name="tags" placeholder="" hidden="hidden"/>
            </div>
        </div>
        <div class="col-sm-5 col-xs-6 ">
            <div class="form-group">
                <label class="color-white">Where</label>
                <input class="form-control" placeholder="city, province, or region"
                       id="form-simple-location" name="location">
            </div>
        </div>
        <div class="col-sm-2 col-xs-12 ">
            <div class="form-group">
                <label class="hidden-xs">&nbsp;</label>
                <button class="btn btn-block btn-theme  btn-success">Search</button>
            </div>
        </div>
    </div>
    <p class="text-right">
        <a href="{{ path('bj_enterprise_listing',{'paginate': 0}) }}" class="link-white">List of our companies</a>
    </p>
</form>  <!-- form search -->

<script>

    $(document).ready(function(){
        var arrayContainer = $('#bj-tag-array');
        $('#form-simple-tag').formTagCompleter({
            container:$('#bj-tags-container'),
            list:$('#bj-tags-list'),
            array:arrayContainer,
            form:$('#bj-tag-form')
        });
    });
</script>