{# DEPRECIATED #}

<div class="inner-hero-header">
    <div class="container">
        <div class="text-center logo">
            <a href="{{ path('bj_front_homepage') }}">
                <img src="{{ asset('bundles/app/theme/images/logo.png') }}" alt="">
            </a>
        </div>
        <div class="relative">
            {#<i class="fa fa-globe ic-fade-globe"></i>#}
            <!-- form search -->
            <form class="form-search-home" id="bj-tag-form" method="post" action="{{ path('bj_offer_listing.filter') }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contrat</label>
                            <select class="form-control input-lg" name="contract" required="required">
                                    <option value="">Choisir type de Contrat</option>
                                {% for contract in settings.option.contracts %}
                                    <option value="{{ contract.type|trim }}">{{ contract.type|trim }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Agency</label>
                            <select class="form-control input-lg" name="agency">
                                <option value="">Choisir l'agence</option>
                                {% for enterprise in settings.option.enterprises %}
                                    <option value="{{ enterprise.name|trim }}">{{ enterprise.name|trim }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            <select class="form-control input-lg" name="city">
                                <option value="">Choose City</option>
                                {% for address in settings.option.cities %}
                                    <option value="{{ address.city|trim }}">{{ address.city|trim }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <label></label>
                        <div class="form-group">
                            <input type="submit" class="btn btn-t-primary btn-lg btn-theme btn-pill btn-block" value="Find Jobs" />
                        </div>
                    </div>

                </div>
                <input type="hidden" name="iteration" value="0"/>
            </form>

            {% set test = 0 %}
            {% if test > 0 %}
            <form class="form-search-home" id="bj-tag-form" method="get" action="{{ path('bj_offer_listing') }}">
                <!-- Tag Design  -->
                    {% include 'BJFrontBundle:Platform/Form:tags_container.html.twig' %}
                <!-- End Tag Design -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>What</label>
                            <input class="form-control input-lg" placeholder="what are you looking for ?"
                                    id="form-simple-tag">
                            <input id="bj-tag-array" value="[]" name="tags" placeholder="" hidden="hidden"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Where</label>
                            <input class="form-control input-lg" placeholder="city, province, or region"
                                   id="form-simple-location" name="location">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-t-primary btn-lg btn-theme btn-pill btn-block">Find Jobs</button>
                </div>
                <div class="text-center">
                    <a href="{{ path('bj_enterprise_listing',{'paginate': 0}) }}" class="">List of our companies</a>
                </div>
            </form>
            {% endif %}
            <!-- end form search -->


        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        var arrayContainer = $('#bj-tag-array');
//        $('#form-simple-tag').formTagCompleter({
//            container:$('#bj-tags-container'),
//            list:$('#bj-tags-list'),
//            array:arrayContainer,
//            form:$('#bj-tag-form')
//        });
    });
</script>
