{# DEPRECIATED #}

<div class="row">
    <div class="panel panel-default text-right" id="bj-tags-container" style="display:none">
        <div class="panel-heading">Tags - define your search! </div>
        <div class="panel-body" id="bj-tags-list"></div>
        <div class="panel panel-default text-left" style="margin-bottom: 0">
            <div class="panel-body">
                <p>
                    <strong>Search by multiple tags!</strong><br>
                    example: stage informatics
                </p>
            </div>
        </div>
    </div>
</div>
