<!-- main-footer -->
<footer class="main-footer">
    <div class="hidden-sm hidden-xs" style="width:100%;height:70px;"></div>
    <div class="">
        <div class="container">
            <div class="col-md-3 col-xs-12">
                <a class="navbar-brand footer-logo" href="{{ path('bj_front_homepage') }}">
                    <img src="{{ asset('bundles/app/theme/images/un-job-dans-la-pub-logo.png') }}" />
                    {#<span style="color:white"> UN JOB <br>DANS LA PUB</span>#}
                </a>
            </div>
            <div class="col-md-5 col-xs-12">
                <h2 class="f-r-b">À PROPOS D’UN JOB DANS LA PUB</h2>
                <p style="font-size:14px;line-height: 17px;">Le 1er site web d’offres d’emploi en agence de publicité et chez l’annonceur.
                    <a href="{{ path('bj_offer_contact_us') }}"> <strong class="f-r-b"> INFOS / CONTACT </strong></a>
                </p>
                <p style="font-size: 10px; margin-top: 15px;">© Copyright Un Job dans la Pub (Matthieu ETIENNE) 2015. Tous droits réservés.</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 class="f-r-b">SUIVEZ UN JOB DANS LA PUB</h2>
                <div>
                    <a href="https://www.facebook.com/unjobdanslapub" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/unjobdanslapub" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/grp/home?gid=7419020" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- end main-footer -->
