{% extends '::layout_simple.html.twig' %}

{% block body %}
    <form method="post" action="{{ path('user.admin.super.dashboard.authorise',{'id':offer.id}) }}" style="text-align:center">
        <label> Yes</label>
        <input type="radio" name="authorise" value="1" {% if offer.tracker.authorised == 1 %} checked="checked" {% endif %} />
        <label> No </label>
        <input type="radio" name="authorise" value="0" {% if offer.tracker.authorised == 0 %} checked="checked" {% endif %} />
        <br><input type="submit" value="edit access" class="btn btn-sm btn-default"/>
    </form>
{% endblock %}