{# DEPRECIATED #}

{% extends '::layout.html.twig' %}

{% block body %}

    <div class="bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="white-space-20"></div>
                    <div class="white-space-20"></div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">email</th>
                                <th class="text-left">tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for letter in letters %}
                                <tr>
                                    <td class="text-left">
                                        <ul>
                                            {% for email in letter.emails %}
                                                <li>{{ email.email }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="text-left">
                                        {% set target = letter.target|json_decode %}
                                        <ul>
                                            <li>Contract: <strong>{{ target.contract }}</strong></li>
                                            <li>Chez: <strong>{{ target.chez }}</strong></li>
                                            <li>Post: <strong>{{ target.post }}</strong></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}