{% extends '::layout_admin.html.twig' %}

{% block body %}

    {# Filters #}
        {% include 'BJAdminBundle:SuperAdmin/Component/Filter:filter.html.twig' %}
    {# END Filters #}

    {# List #}
        {% include 'BJAdminBundle:SuperAdmin/Ajax:offer_container.html.twig' %}
    {# END List #}
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- pagination -->
            <nav>
                <ul class="pager">
                    <li class="previous" style="cursor:pointer;">
                        {% if settings.paginate-1 > -1 %}
                            <a href="{{ settings.path.previous }}">
                                <span aria-hidden="true">&larr;</span>
                                <span>Previous</span>
                            </a>
                        {% else %}
                            <a style="cursor:not-allowed;">
                                <span aria-hidden="true">&larr;</span>
                                <span>Previous</span>
                            </a>
                        {% endif %}
                    </li>
                    <li class="next" style="cursor:pointer;">
                        {% if settings.param.iterationPlus > 0 %}
                            <a href="{{ settings.path.next }}">
                                <span>Next</span>
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        {% else %}
                            <a style="cursor:not-allowed;">
                                <span>Next</span>
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <!-- pagination -->
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}
