{% extends '::layout_admin.html.twig' %}

{% block body %}

    {# Filters #}
        {% include 'BJAdminBundle:SuperAdmin/Component/Filter:filter.html.twig' %}
    {# END Filters #}

    {# List #}
        {% include 'BJAdminBundle:SuperAdmin/Ajax:offer_container.html.twig' %}
    {# END List #}

{% endblock %}
