<div class="white-space-20"></div>
<div class="white-space-20"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Global Statistics</h3>
    </div>
    <div class="panel-body">

        {% set gb = settings.global %}
        {# Total Offers #}
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-text"> Total Offers : {{ gb.total_offers }}</p>

                <div class="btn-group bj-info-btn-group" role="group" aria-label="">
                    <a target="_blank" href="{{ path('user.admin.super.dashboard.list',{'iteration':0,'action':'offer_auth'}) }}">
                        <button type="button" class="btn btn btn-success btn-offer-action"
                                data-target="offer_auth" data-count="{{ gb.total_offers_authorised }}">
                            {{ gb.total_offers_authorised }} Authorised
                        </button>
                    </a>
                    <a target="_blank" href="{{ path('user.admin.super.dashboard.list',{'iteration':0,'action':'offer_un_auth'}) }}">
                        <button type="button" class="btn btn-warning btn-offer-action"
                                data-target="offer_un_auth" data-count="{{ gb.total_offers_un_authorised }}">
                            {{ gb.total_offers_un_authorised }} Un-Authorised
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {# END Total Offers #}

        {# NEW Offers #}
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-text"> New Offers  : {{ gb.total_offers_new }}</p>

                <div class="btn-group bj-info-btn-group" role="group" aria-label="">
                    <a target="_blank" href="{{ path('user.admin.super.dashboard.list',{'iteration':0,'action':'offer_new_auth'}) }}">
                        <button type="button" class="btn btn btn-success btn-offer-action"
                                data-target="offer_new_auth" data-count="{{ gb.total_offers_new_authorised }}">
                            {{ gb.total_offers_new_authorised }} Authorised
                        </button>
                    </a>
                    <a target="_blank" href="{{ path('user.admin.super.dashboard.list',{'iteration':0,'action':'offer_new_un_auth'}) }}">
                        <button type="button" class="btn btn-warning btn-offer-action"
                                data-target="offer_new_un_auth" data-count="{{ gb.total_offers_new_un_authorised }}">
                            {{ gb.total_offers_new_un_authorised }} Un-Authorised
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {# END NEW Offers #}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-right">
        <h3 class="panel-title">Controls</h3>
    </div>
    <div class="panel-body">

        <div class="list-group text-right">
            <div class="list-group-item">
                <p class="list-group-item-text"> Offers </p>
                <div class="btn-group bj-info-btn-group" role="group" aria-label="">
                    <a target="_blank" href="{{ path('user.admin.super.dashboard.options',{'option':'remove_old_newsletter'}) }}">
                        <button type="button" class="btn btn btn-danger">
                            Remove Out-dated
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="list-group text-right">
            <div class="list-group-item">
                <p class="list-group-item-text"> News-Letter  </p>
                <div class="btn-group bj-info-btn-group" role="group" aria-label="">
                    <a target="_blank" href="{{ path('bj_offer_newsletter_test') }}">
                        <button type="button" class="btn btn btn-primary">
                            Send Subscriptions
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="list-group text-right">
            <div class="list-group-item">
                <p class="list-group-item-text"> Cache </p>
                <div class="btn-group bj-info-btn-group" role="group" aria-label="">
                    <a href="{{ path('user.admin.super.dashboard.options',{'option':'clear_cache'}) }}">
                        <button type="button" class="btn btn btn-danger">
                            Clear Cache
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
