<div class="block-section text-center ">
    {#<img src="./assets/theme/images/people/4.jpg" class="img-rounded" alt="">#}

    {% set user = settings.user %}
    <div class="white-space-20"></div>
    <h4>Bienvenue {{ user.firstName }} {{ user.lastName }}</h4>
    <ul class="list-unstyled">
        <li>{{ user.email }}</li>
    </ul>
    <div class="white-space-20"></div>
    <ul class="list-unstyled">
        <li><a href="{{ path('user.admin.super.dashboard') }}"> Overview- CS </a></li>
        {#<li><a href="{{ path('user.admin.super.alert') }}"> My Alerts </a></li>#}
        {#<li><a href="{{ path('user.admin.super.notification') }}"> Notifications</a></li>#}
        <li><a href="{{ path('fos_user_change_password') }}"> Changez votre mot de passe </a></li>
    </ul>
    <div class="white-space-20"></div>
    {#<a href="{{ path('admin_bj_corporate_offer_list') }}" target="_blank" class="btn btn-theme btn-primary btn-pill btn-block">Detailed Listing</a>#}
</div>
